<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-5P9SKZZ');</script>
    <!-- End Google Tag Manager -->
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-1061712478"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'AW-1061712478');
    </script>
    <!-- End Google tag (gtag.js) -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="180x180" href="/_includes/assets/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/_includes/assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/_includes/assets/icons/favicon-16x16.png">
    <link rel="mask-icon" href="/_includes/assets/icons/safari-pinned-tab.svg" color="#76B530">
    <link rel="shortcut icon" href="/_includes/assets/icons/favicon.ico">
    <link rel="shortlink" href="https://www.globalair.com" />
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/_includes/assets/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="apple-itunes-app" content="app-id=1165831804">

    @*<title>@(ViewBag.Title != null ? @ViewBag.Title : "Airport Resource Center | GlobalAir.com")</title>*@
    @if (ViewBag.canonical != null)
    {
        <link href="@ViewBag.canonical.ToLower()" rel="canonical">
    }
    @RenderSection("Meta", required: false)
    <link rel="dns-prefetch" href="https://www.facebook.com">
    <link rel="dns-prefetch" href="https://connect.facebook.net">
    <link rel="dns-prefetch" href="https://stats.g.doubleclick.net">
    <link rel="dns-prefetch" href="https://www.google.com">
    <script>
        var qcObj = [];
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.defer = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-204701-2', { cookieFlags: 'max-age=7200;secure;samesite=none' });
        ga('send', 'pageview');

        window.uetq = window.uetq || [];
        window.uetq.push('event', 'INQUIRY', {});
    </script>
    <script type="application/ld+json">
         { "@@context": "https://schema.org",
        "@@type": "Organization",
        "name": "GlobalAir.com",
        "legalName": "Global Aviation Navigator, Inc",
        "foundingDate": "1995",
        "url": "https://www.globalair.com",
        "logo": "https://www.globalair.com/images/galogo1.png",
        "address": {
        "@@type": "PostalAddress",
        "streetAddress": "2700 Moran Ave.",
        "addressLocality": "Bowman Field Airport",
        "addressRegion": "Louisville",
        "postalCode": "KY 40205",
        "addressCountry": "USA"
        },
        "contactPoint": {
        "@@type": "ContactPoint",
        "contactType": "Technical Support",
        "telephone": "[502-456-3934]",
        "email": "webmaster@globalair.com"
        },
        "sameAs": [
        "https://www.facebook.com/GlobalAir",
        "https://twitter.com/globalair",
        "https://www.linkedin.com/company/globalair.com",
        "https://www.pinterest.com/Globalair",
        "http://aircraft-listings.com/aircraftseller",
        "https://twitter.com/aircraftseller",
        "https://twitter.com/FBOfuel",
        "https://www.instagram.com/globalaircom/",
        "https://www.youtube.com/user/Airplanesforsale"
         ]}
    </script>
    <script>!function (s, a, e, v, n, t, z) { if (s.saq) return; n = s.saq = function () { n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments) }; if (!s._saq) s._saq = n; n.push = n; n.loaded = !0; n.version = '1.0'; n.queue = []; t = a.createElement(e); t.async = !0; t.src = v; z = a.getElementsByTagName(e)[0]; z.parentNode.insertBefore(t, z) }(window, document, 'script', 'https://tags.srv.stackadapt.com/events.js'); saq('ts', 'v4G3HQM4EtRAWYZBlku_QA');</script>

    <noscript>
        <img height="1" width="1" src="https://www.facebook.com/tr?id=128491507700639&ev=PageView&noscript=1" />
    </noscript>
    @*@Styles.RenderFormat(@"<link rel=""stylesheet"" rel=""preload"" as=""style"" href=""{0}"" />", "~/styles/pages")*@
    @RenderSection("Styles", required: false)
    @*<link href="~/css/all.min.css" rel="stylesheet" />*@
    <link href="~/css/bootstrap.custom.css" rel="stylesheet" media="all" />
    @*<link href="~/css/css-loader.css" rel="stylesheet" />*@
    @*<link href="~/css/fas.css" rel="stylesheet" />*@
    @*<link href="~/css/social-share-kit.css" rel="stylesheet" />*@
    <link href="~/css/style.css" rel="stylesheet" media="all" />
    <style>
        #mobileBanner {
            overflow: visible;
        }

        .footer a {
            text-decoration: none
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            padding-left: 0;
            padding-right: 0;
            padding-top: 5px;
            padding-bottom: 5px;
            background-color: #212121;
            position: absolute;
            z-index: 1000;
            display: none;
            float: left;
            font-size: 1rem;
            font-weight: 400;
            color: #f1f2f2;
            text-align: left;
            list-style: none;
            border-radius: 2px;
        }

            .dropdown-content a {
                color: rgba(255,255,255,.6);
            }

                .dropdown-content a:hover {
                    color: #007bff;
                    background-color: #212121;
                }

        .show1 {
            display: block;
        }

        #airportTable_filter {
            margin-bottom: 5px
        }

        #btn-back-to-top {
            position: fixed;
            bottom: 50px;
            right: 20px;
            display: none;
            z-index: 3
        }
    </style>

</head>
<body vocab="https://schema.org/" typeof="WebPage">
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5P9SKZZ"
                height="0" width="0" style="display: none; visibility: hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div style="border-bottom: 1px solid #ccc;">
        <div class="top-bar light container">
            <div class="row align-items-center">
                <div class="col d-flex p-2" style="height:45px;">
                    <ul class="list-inline links toplinks d-lg-inline mb-0 mt-auto mb-auto">
                        <li class="d-none d-lg-inline pr-2">Welcome to GlobalAir.com</li>
                        <li style="display:none" class="text-success nav-item dropdown logged-in-user-context" id="logged-in">
                            @*<ul id="d1" class="dropdown-menu dropdown-menu-left collapse">
                            <li><a id="dboard-link" href="/myaircraft/dashboard.aspx" class="dropdown-item">Dashboard</a></li>
                            <li id="fbo-link" style="display:none"><a href="/fbo/companymanage.aspx" class="dropdown-item">FBO Dashboard</a></li>
                            <li><a href="/Articles/Edit" class="dropdown-item">Post New Article</a></li>
                            <li><a href="javascript:void(0)" onclick="logoutActionGA(); event.preventDefault();" class="dropdown-item">Logout</a></li>
                            </ul>*@
                            <div class="dropdown">
                                <div onclick="header_menuFunction()" class="nav-link dropbtn" style="cursor:pointer; font-size: 13px;color:#76B530;">
                                    Hello, <span id="first-name" class="dropbtn"></span> <img width="18" height="18" style="vertical-align:sub" src="/images/angle-down.png">
                                </div>
                                <ul id="headerDropdown" class="dropdown-content dropdown-menu-left">
                                    <li><a id="dboard-link" href="/myaircraft/dashboard.aspx" class="dropdown-item">Dashboard</a></li>
                                    <li id="fbo-link" style="display:none"><a href="/fbo/companymanage.aspx" class="dropdown-item">FBO Dashboard</a></li>
                                    <li><a href="/articles/edit" class="dropdown-item">Post New Article</a></li>
                                    <li><a href="#" onclick="logoutActionGA(); event.preventDefault();" class="dropdown-item">Logout</a></li>
                                </ul>
                            </div>
                        </li>
                        <li style="display:none" class="logged-out-user-context" id="logged-out">
                            <div class="btn-group mr-2" role="group" aria-label="Login group">
                                <button data-toggler="modal" data-target="#loginModal" type="button" class="btn btn-sm btn-success btn-success-custom btn-rounded" id="btnLogin">Login</button>
                                <button type="button" class="btn btn-sm btn-dark btn-rounded" id="btnReg">Register</button>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col" style="display:contents">
                    @if (ViewBag.IsMobile == false || ViewBag.IsMobile == null)
                    {
                        <a href="/Articles/Edit" class="btn btn-sm mt-1 mr-3 float-left btn-success btn-success-custom text-white pulse-success">Post Your Article</a>
                    }
                    @*                    <a href="https://www.facebook.com/GlobalAir/" aria-label="Facebook" target="_blank" alt="FaceBook" class="social-icon-sm si-gray si-gray-round si-facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/globalair" aria-label="Twitter" target="_blank" alt="Twitter" class="social-icon-sm si-gray si-gray-round si-twitter"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.pinterest.com/Globalair/" aria-label="Pinterest" target="_blank" alt="Pinterest" class="social-icon-sm si-gray si-gray-round si-pinterest"><i class="fab fa-pinterest"></i></a>
                    <a href="https://www.linkedin.com/company/globalair.com" aria-label="LinkedIn" target="_blank" alt="LinkedIn" class="social-icon-sm si-gray si-gray-round si-linkedin"><i class="fab fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/globalaircom/" aria-label="Instagram" target="_blank" alt="Instagram" class="social-icon-sm si-gray si-gray-round si-instagram"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.youtube.com/user/Airplanesforsale" aria-label="Youtube" target="_blank" alt="Youtube" class="social-icon-sm si-gray si-gray-round si-youtube"><i class="fab fa-youtube"></i></a>
                    *@
                </div>
            </div>
        </div>
    </div>
    <div id="cookie-notification" class="fixed-bottom" style="z-index:2000; display:none;">
        <div class="row w-100 p-1">
            <div class="col-md-9 m-auto px-4">We use cookies to help you get the best experience when using our website. By continuing to use this website, you are agreeing to our Cookie Policy.</div>
            <div class="col-md-3 m-auto justify-content-end"><a href="#" id="cookie-notification-btn" class="btn btn-success float-right" style="float:right;">Confirm</a></div>
        </div>
    </div>
    @if (ViewBag.IsMobile == false || ViewBag.IsMobile == null)
    {
        <div class="top-bar topbarbck d-none d-lg-block">
            <div class="container">
                <div class="row p-2" style="height:107px">
                    <div class="col-3" style="flex:0 0 0px">
                        <a href="/"><img data-src="/images/galogo1.png?123" class="lazyload" width="250" height="74" alt="Global aviation news, information and market intelligence"></a>
                    </div>
                    <div class="col-9 text-right">
                        <div id='div-gpt-ad-1621626637196-0' style='min-width: 970px; min-height: 90px;'>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    <nav class="navbar pb-0 pt-0 pl-2 navbar-expand-lg navbar-light" style="background: #97cb00; min-height: 40px; width:100%">
        <div class="d-lg-none w-50" style="color:rgba(0, 0, 0, 0.7);font-size:1.2em;font-weight:700;">
            <a href="https://www.globalair.com" style="color:black">
                <img src="https://resources.globalair.com/images/globalair-mobile-bluebackground-large.jpg?w=400&h=100&mode=crop" alt="GlobalAir" width="100" height="20" style="width: 100%; position: relative; left: -8px; height: auto" />
            </a>
        </div>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggler="show"
                data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        @{
            <partial name="_MenuItems" />
        }
    </nav>
    @if (IsSectionDefined("BreadCrumb"))
    {
        <div class="row ms-2 mt-2" style="width: 99%">
            <div class="col-md-9">
                @Html.Raw(@ViewBag.BreadCrumb)
                @RenderSection("Breadcrumb", required: false)
            </div>
        </div>
    }
    @if (ViewBag.IsMobile != null && ViewBag.IsMobile)
    {
        <div class="col" style="height: 60px; text-align: center">
            <div id='div-gpt-ad-1639782560527-0' style='min-width: 320px; min-height: 50px;'>
            </div>
        </div>
    }

    <div class="">
        @if (IsSectionDefined("PageTitle"))
        {
            <div class="page-titles title-light">
                @RenderSection("PageTitle", required: false)
            </div>
        }
        else
        {
            <div class=""></div>
        }
        <div class="row mr-2" style="width: 100%">
            <div class="col">
                <!-- Back to top button -->
                <button type="button" class="btn btn-success btn-success-custom rounded btn-sm" id="btn-back-to-top" style="width: 50px; display: block; height: 50px;">
                    <img src="https://resources.globalair.com/images/top.png" width="30">
                </button>
                @RenderBody()
            </div>
            @if (ViewBag.HideAds != true)
            {
                @if (TempData["sidebar"] == null || (TempData["sidebar"] != null && TempData["sidebar"] != "Nosidebar"))
                {
                    <div class="col mb-4 ml-4 pr-0 pl-0 d-none d-xl-block" style="flex: 0 0 300px; width: 300px">
                        @RenderSection("SideBar", required: false)
                        <div class="mb-4"></div>
                        @{
                            //<div id='div-gpt-ad-1639786075089-0' style='min-width: 300px; min-height: 250px; margin-top: 20px'>
                            //    <script>
                            //        googletag.cmd.push(function() { googletag.display('div-gpt-ad-1639786075089-0'); });
                            //    </script>
                            //</div>

                            //<div style="min-width: 300px; min-height: 250px; margin-bottom: 20px; margin-top: 20px">
                            //    <a href="https://www.globalair.com/banmanpro/ad.aspx?ZoneID=34&Task=Click&Mode=HTML&SiteID=1&SubscriberID=1&PageID=1" aria-label="GlobalAir Articles" target="_blank" rel="noreferrer">
                            //        <img src="https://www.globalair.com/banmanpro/ad.aspx?ZoneID=34&Task=Get&Mode=HTML&SiteID=1&SubscriberID=1&PageID=1" width="300" height="250" border="0" style="max-width:100%; height:auto;" alt="" />
                            //    </a>
                            //</div>
                            <!-- /13428562/2022-300x600-Ad -->
                            <div id='div-gpt-ad-1639786033852-0' style='min-width: 300px; height: 600px;'>
                            </div>

                            <!-- /13428562/2022-300x250-Ad-1 -->
                            <div id='div-gpt-ad-1639786075089-0' style='min-width: 300px; height: 250px; margin-top: 20px'>
                            </div>

                            <!-- /13428562/2022-300x250-Ad-2 -->
                            <div id='div-gpt-ad-1639786162444-0' style='min-width: 300px; height: 250px; margin-top: 20px'>
                            </div>
                        }
                        <div class="mb-4"></div>
                    </div>
                }
            }
        </div>
    </div>
    @if (ViewBag.IsMobile == true)
    {
        <div id="mobileBanner" class="fixed-bottom" style="display:none;">
            <div id="bannerSlider" onclick="ToggleAdBanner();" style="border-radius: 10px 10px 0px 0px;background:lightgrey;width:12%;text-align:center;opacity:0.8;display:none">
                <img id="bannerImg" width="18" height="18" style="vertical-align:sub" src="/images/angle-down.png">
            </div>
            @*<div id="closebtnAd" class="" data-toggler="show" onclick="closeGoogleAd();" data-target=".fixed-bottom" aria-label="Close" style="background-color:silver; width:60px; display:none; cursor:pointer;text-align:center">CLOSE</div>*@
            <div id="ad_banner" style="border-top: 1px solid #cac6c6;" class="row">
                <div class="col-md-12">
                    <div id="top-ad">
                        <div id='div-gpt-ad-1641850667091-0'>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <footer class="footer bg-primary text-white pt30 pb-2">
        <div class="p-4">
            <div class="row">
                <div class="col-lg-3 col-md-6 mb-3">
                    <h3>About Us</h3>
                    <p>
                        It is our mission to be the go to leaders in the aviation industry. GlobalAir.com is your partner in connecting you with relevant information and resources.
                    </p>
                </div>
                <div class="col-lg-6 col-md-6 mb-4">

                    <div class="row w-100">
                        <div class="col-md-6">
                            <h3 class="footer-list-item">Quick links</h3>
                            <ul class="list-unstyled footer-list-item">
                                <li><a href="/aircraft-for-sale">Aircraft For Sale</a></li>
                                <li><a href="/airport">Airport Weather &amp; FBO Fuel Prices</a></li>
                                <li><a href="/articles">Aviation News</a></li>
                                <li><a href="/calendar/aviation-events.aspx">Aviation Events</a></li>
                                <li><a href="/directories/">Aviation Business Directory</a></li>
                            </ul>
                        </div>

                        <div class="col-md-4">
                            <h3>&nbsp;</h3>
                            <ul class="list-unstyled footer-list-item">
                                <li><a href="/advertising/advertisewithus">Advertising</a></li>
                                <li><a href="https://hosting.globalair.com">Hosting</a></li>
                                <li><a href="/contact/contact.aspx">Contact Us</a></li>
                                <li><a href="/employment/">Job Opportunities</a></li>

                            </ul>
                        </div>

                        <div class="col-md-2">
                            <h3>&nbsp;</h3>
                            <ul class="list-unstyled footer-list-item">
                                <li><a href="/press/press.aspx">Press</a></li>
                                <li><a href="/press/legal.aspx">Legal</a></li>
                                <li><a href="/scholarships/">Scholarships</a></li>
                                <li><a href="/press/testimonials.aspx">Testimonials</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mb-3">
                    <h3 style="padding-left: 40px;">Contact Us</h3>
                    <ul class="list-unstyled contact-list-item">
                        <li>
                            <i class="ti-home"></i>
                            2700 Moran Ave.,Bowman Field Airport, Louisville, KY 40205
                        </li>
                        <li>
                            <i class="ti-mobile"></i>
                            <a href="tel:888-236-4309" style="color: rgba(255,255,255,.6)">888-236-4309</a> / <a href="tel:502-456-3934" style="color: rgba(255,255,255,.6)">502-456-3934</a>
                        </li>
                        <li>
                            <a target="_blank" href="https://connect.nbaa.org/246883/GlobalAircom" title="NBAA GlobalAir" aria-label="NBAA GlobalAir"><img src="https://resources.globalair.com/images/nbaa/logo.png?w=200&amp;mode=crop" width="200" height="83" alt="NBAA" title="NBAA" class=" ls-is-cached lazyload"></a>
                            <a href="https://greaterlouisvillekycoc.weblinkconnect.com/TransportationWarehousing/GlobalAircom-29301" aria-label="GlobalAir"></a><img src="https://resources.globalair.com/images/1x1Black.png" alt="1x1" width="1" height="1">
                        </li>
                        <li>
                            <a style="background-size: 67%; background-position: center; background-repeat: no-repeat; background-image: url(/images/facebook.png)" target="_blank" href="https://www.facebook.com/GlobalAir/" alt="FaceBook" aria-label="FaceBook" class="social-icon-sm si-gray si-gray-round"></a>
                            <a style="background-size: 67%; background-position: center; background-repeat: no-repeat; background-image: url(/images/twitter.png)" target="_blank" href="https://twitter.com/globalair" alt="Twitter" aria-label="Twitter" class="social-icon-sm si-gray si-gray-round"></a>
                            <a style="background-size: 67%; background-position: center; background-repeat: no-repeat; background-image: url(/images/pinterest.png)" target="_blank" href="https://www.pinterest.com/Globalair/" alt="Pinterest" aria-label="Pinterest" class="social-icon-sm si-gray si-gray-round"></a>
                            <a style="background-size: 80%; background-position: center; background-repeat: no-repeat; background-image: url(/images/linkedin.png)" target="_blank" href="https://www.linkedin.com/company/globalair.com" alt="LinkedIn" aria-label="LinkedIn" class="social-icon-sm si-gray si-gray-round"></a>
                            <a style="background-size: 67%; background-position: center; background-repeat: no-repeat; background-image: url(/images/instagram.png)" target="_blank" href="https://www.instagram.com/globalaircom/" alt="Instagram" aria-label="Instagram" class="social-icon-sm si-gray si-gray-round"></a>
                            <a style="background-size: 81%; background-position: center; background-repeat: no-repeat; background-image: url(/images/youtube.png)" target="_blank" href="https://www.youtube.com/user/Airplanesforsale" alt="Youtube" aria-label="Youtube" class="social-icon-sm si-gray si-gray-round"></a>
                        </li>
                    </ul>
                </div>
            </div><hr class="mb-3" style="border: 1px white solid">
            <div class="row">
                <div class="col-lg-6  ml-auto mr-auto text-center">
                    <p><img class=" ls-is-cached lazyload" data-src="/images/fish.svg" alt="Jesus Fish" width="50" height="20" align="middle" src="/images/fish.svg">&nbsp;&nbsp;&nbsp;©2023 GlobalAir.com. All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>
    <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalCenterTitle">GlobalAir Login</h5>
                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 mb-4">
                            <div id="SigninError"></div>
                            <form id="frmSignIn" name="frmSignIn" method="post">
                                <input type="hidden" id="logonaction" name="logonaction" value="in">
                                <div class="mb-3">
                                    <a href="/forgot.aspx" class="float-end text-info text-decoration-none">Forgot?</a>
                                    <label class="form-label" for="email">Username</label>
                                    <input type="text" class="form-control ele150" name="tbUsername" id="tbUsername" placeholder="Username" maxlength="50">
                                </div>
                                <div class="mb-3">
                                    <a href="/forgot.aspx" class="float-end text-info text-decoration-none">Reset</a>
                                    <label class="form-label" for="pass">Password</label>
                                    <input type="password" name="tbPassword" id="tbPassword" placeholder="Password" class="form-control ele150" maxlength="50">
                                    <input type="hidden" id="hiddenURL" value="/Articles">
                                </div>
                                <div class="clearfix">
                                    <button type="submit" class="btn btn-primary btn-primary-custom float-right" name="IB_MyFlightDepartmentSubmit" id="IB_MyFlightDepartmentSubmit">Sign In</button>
                                </div>
                            </form>
                        </div>
                        <!--/col-->
                    </div>
                </div>

            </div>
        </div>
    </div>
    @*    <div class="ssk-sticky ssk-left ssk-center ssk-lg">
    <a href="javascript:socialIconClick('facebook')" title="FaceBook" class="ssk ssk-facebook"></a>
    <a href="javascript:socialIconClick('twitter')" title="Twitter" class="ssk ssk-twitter"></a>
    <a href="javascript:socialIconClick('pinterest')" title="Pinterest" class="ssk ssk-pinterest"></a>
    <a href="javascript:socialIconClick('linkedin')" title="LinkedIn" class="ssk ssk-linkedin"></a>
    <a href="" title="Email" class="ssk ssk-email"></a>
    </div>*@
    <div class="modal fade" id="spinner" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="spinnerTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body justify-content-center align-items-center text-center">
                    <div class="spinner-border text-primary" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                    <h5 class="modal-title mt-2" id="spinnerTitle">Loading...</h5>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade collapse" data-dismiss="modal"></div>
    <div class="contact-seller modal fade QuickContact" id="QuickContact" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background-color:#97cb00">
                    <h4 class="modal-title" id="ModalTitle"></h4>
                    <button onclick="CloseQuickContact();" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div id="divQc" class="text-center" style="border: 1px solid rgb(169, 169, 169);">
                </div>
            </div>
        </div>
    </div>
    @*<script type="text/javascript" async defer src="~/js/all.min.js"></script>*@
    <script src="~/js/jquery-3.5.1.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" async defer src="~/js/appUi-custom.js"></script>
    <script type="text/javascript" async defer src="~/js/jquery.validate.min.js"></script>
    <script type="text/javascript" async defer src="~/js/lazysizes.min.js"></script>


    @await RenderSectionAsync("Scripts", required: false)

    <img height="1" width="1" alt="FaceBook Tracking" src="https://www.facebook.com/tr?id=128491507700639&ev=PageView&noscript=1" />

    <script src="https://cdn.jsdelivr.net/npm/js-cookie@rc/dist/js.cookie.min.js"></script>
    <script type="text/javascript">

        @if (ViewBag.IsMobile != null && ViewBag.IsMobile)
        {
            <text>
                                        const myInterval = setInterval(mobileBannerCheck, 1500);

            //setTimeout(function () { clearInterval(myInterval); }, 2000);

            function mobileBannerCheck() {
                console.log($('#mobileBanner').height());
                if ($('#mobileBanner').height() > 150) {
                    $('#bannerSlider').show();
                    clearInterval(myInterval);
                    console.log("clearInterval");
                }
                else {
                    $('#bannerSlider').hide();
                }
            }
            </text>
        }
                var jCookies = null;
        $(function () {
            if (jCookies == null) {
                jCookies = Cookies.noConflict();
            }
        });
        function eraseCookieFromDomainFrame(name) {
            if (jCookies != undefined) {
                jCookies.set(name, null);;
                jCookies.remove(name, { path: '/' });
            }
        }
        window.addEventListener('load', function () {
            var tag = document.createElement("script");
            tag.src = "https://securepubads.g.doubleclick.net/tag/js/gpt.js";
            document.getElementsByTagName("head")[0].appendChild(tag);
            setTimeout(function () {
                !function (s, a, e, v, n, t, z) { if (s.saq) return; n = s.saq = function () { n.callMethod ? n.callMethod.apply(n, arguments) : n.queue.push(arguments) }; if (!s._saq) s._saq = n; n.push = n; n.loaded = !0; n.version = '1.0'; n.queue = []; t = a.createElement(e); t.async = !0; t.src = v; z = a.getElementsByTagName(e)[0]; z.parentNode.insertBefore(t, z) }(window, document, 'script', 'https://tags.srv.stackadapt.com/events.js'); saq('ts', 'v4G3HQM4EtRAWYZBlku_QA');

        @if (ViewBag.IsMobile == false || ViewBag.IsMobile == null)
        {
            <text>
                        window.googletag = window.googletag || { cmd: [] };
                    googletag.cmd.push(function () {
                        googletag.defineSlot('/13428562/2022-Aircraft-for-Sale-Ad-Units', [970, 90], 'div-gpt-ad-1621626637196-0').addService(googletag.pubads());
                        googletag.defineSlot('/13428562/**2022-300x600-Ad-Aircraft-Sale', [300, 600], 'div-gpt-ad-1639786033852-0').addService(googletag.pubads());
                        googletag.defineSlot('/13428562/**2022-300x250-Ad-1-Aircraft-Sale', [300, 250], 'div-gpt-ad-1639786075089-0').addService(googletag.pubads());
                        googletag.defineSlot('/13428562/2022-300x250-Ad-2-Aircraft-Sale', [300, 250], 'div-gpt-ad-1639786162444-0').addService(googletag.pubads());
                        googletag.defineSlot('/13428562/**2022-728x90-Ad-1-Aircraft-Sale', [728, 90], 'div-gpt-ad-1639786402291-0').addService(googletag.pubads());
                        googletag.defineSlot('/13428562/**2022-728x90-Ad-2-Aircraft-Sale', [728, 90], 'div-gpt-ad-1639786437769-0').addService(googletag.pubads());
                        googletag.defineSlot('/13428562/**2022-728x90-Ad-3-Aircraft-Sale', [728, 90], 'div-gpt-ad-1639786475721-0').addService(googletag.pubads());
                        googletag.defineSlot('/13428562/**2022-728x90-Ad-4-Aircraft-Sale', [728, 90], 'div-gpt-ad-1639786539561-0').addService(googletag.pubads());
                        googletag.defineSlot('/13428562/**2022-728x90-Ad-5-Aircraft-Sale', [728, 90], 'div-gpt-ad-1639786626208-0').addService(googletag.pubads()); googletag.pubads().enableSingleRequest();
                        googletag.defineSlot('/13428562/**2022-728x90-Ad-1', [728, 90], 'div-gpt-ad-1639781873906-0').addService(googletag.pubads());
                        googletag.pubads().enableSingleRequest();
                        googletag.pubads().collapseEmptyDivs(true);
                        googletag.enableServices();
                    });

                    googletag.cmd.push(function () { googletag.display('div-gpt-ad-1621626637196-0'); });
                    googletag.cmd.push(function () { googletag.display('div-gpt-ad-1639786033852-0'); });
                    googletag.cmd.push(function () { googletag.display('div-gpt-ad-1639786075089-0'); });
                    googletag.cmd.push(function () { googletag.display('div-gpt-ad-1639786162444-0'); });
            </text>
        }
        else
        {
            <text>
                        window.googletag = window.googletag || { cmd: [] };
                    googletag.cmd.push(function () {
                        googletag.defineSlot('/13428562/**2022-320x50-Mobile-Ad-1', [320, 50], 'div-gpt-ad-1639782560527-0').addService(googletag.pubads());
                        googletag.defineSlot('/13428562/2022-300x250-Ad-1', [300, 250], 'div-gpt-ad-1639781263825-0').addService(googletag.pubads());
                        googletag.defineSlot('/13428562/**2022-300x250-Ad-2', [300, 250], 'div-gpt-ad-1639781353563-0').addService(googletag.pubads());
                        googletag.defineSlot('/13428562/2022-300x250-Ad-3', [300, 250], 'div-gpt-ad-1639781431621-0').addService(googletag.pubads());
                        googletag.defineSlot('/13428562/**2022-300x250-Ad-4', [300, 250], 'div-gpt-ad-1639781510957-0').addService(googletag.pubads());
                        googletag.defineSlot('/13428562/2022-300x250-Ad-5', [300, 250], 'div-gpt-ad-1639781626633-0').addService(googletag.pubads());
                        googletag.defineSlot('/13428562/2022-300x250-Mobile-Floating-Ad-Unit', [300, 250], 'div-gpt-ad-1641850667091-0').addService(googletag.pubads());
                        googletag.pubads().enableSingleRequest();
                        googletag.pubads().collapseEmptyDivs(true);
                        googletag.enableServices();

                        googletag.cmd.push(function () { googletag.display('div-gpt-ad-1641850667091-0'); });
                        googletag.cmd.push(function () { googletag.display('div-gpt-ad-1639782560527-0'); });

                        //setTimeout(function () {
                        //    var mobileBannerDiv = document.getElementById("mobileBanner");
                        //    var frame = mobileBannerDiv.getElementsByTagName("iframe");
                        //    if (frame[0]) {
                        //        $("#closebtnAd").show();
                        //    }
                        //}, 2000);
                    });
            </text>
        }
                                            }, 3000);
        });
        var hasInteracted = false;

        $(document).one('touchstart click  scroll', function () {

            if (!hasInteracted) {
                setTimeout(function () {
                    var mobileBannerDiv = jQuery("#mobileBanner");
                    $("#mobileBanner").slideDown();

                    mobileBannerDiv.css('display', 'block');
                    setTimeout(function () { ToggleAdBanner() }, 13000);
                }, 5000);
                hasInteracted = true;
            }
        });

    </script>
    <script async defer type="text/javascript">

        function QuickContact(button) {

            $(".modal-title").html($(button).data("title"));
            var btnData = $(button).data("adid") + "|" + $(button).data("brokerid") + "|" + $(button).data("businessphone") + "|" + $(button).data("cellphone") + "|";
            btnData += $(button).data("contactname") + "|" + $(button).data("rn") + "|" + $(button).data("sn") + "|" + $(button).data("title") + "|";
            btnData += $(button).data("receivetextmessages") + "|True|" + $(button).data("inquirysrc") + "|" + $(button).data("yrmoddes") + "|" + $(button).data("ismobile") + "|" + $(button).data("country") + "|" + $(button).data("debug");
            $("#divQc").load("/aircraft-for-sale/quick-contact-iframe?addetail=" + encodeURIComponent(btnData)
            );
        }

        function CloseQuickContact() {
            if ($('#QuickContact').hasClass('show')) {
                $("#QuickContact").removeClass("show");
                var iframes = document.querySelectorAll('iframe');
                for (var i = 0; i < iframes.length; i++) {
                    iframes[i].parentNode.removeChild(iframes[i]);
                }
            }
        }
    </script>
    <script async defer type="text/javascript">
        //(function () {
        //    var css = document.createElement('link');
        //    css.href = 'https://use.fontawesome.com/releases/v5.7.2/css/all.css';
        //    css.rel = 'stylesheet';
        //    css.type = 'text/css';
        //    document.getElementsByTagName('head')[0].appendChild(css);
        //})();

        function showGoogleAds() {

        }
        function closeGoogleAd() {
            $("#mobileBanner").hide();
        }
        function ToggleAdBanner() {
            try {
                $("#mobileBanner").slideUp();

                if ($("#bannerImg").attr('src').indexOf("up") >= 0) {
                    $("#bannerImg").attr('src', '/images/angle-down.png');
                }
                else {
                    $("#bannerImg").attr('src', '/images/angle-up.png');
                }
            }
            catch {
                console.log("mobile ad_banner error");
            }
        }
        window.onclick = function (event) {
            document.querySelectorAll('.dropdown-menu.show').forEach((item) => {
                if (event.target.nextElementSibling !== item)
                    item.classList.remove('show');
            });

            if (!event.target.matches('.dropbtn')) {
                //alert();
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show1')) {
                        openDropdown.classList.remove('show1');
                    }
                }
            }
        }
    </script>
    <script>

        function header_menuFunction() {
            document.getElementById("headerDropdown").classList.toggle("show1");
        }
    </script>
    <script>
        window.addEventListener('load', function () {
            jQuery('input[type=radio][name=searchType]').change(function () {
                if (this.value == 'airport') {
                    $('#search-input').attr("placeholder", "Enter Airport ID, Name, City, State or Zip Code");
                }
                else if (this.value == 'fuel') {
                    $('#search-input').attr("placeholder", "Enter Airport ID");
                }
            });

            jQuery("#submitForm").click(function () {
                if ($('#search-input').val() == "") {
                    $('#queryCheck').show();
                    setTimeout(function () {
                        $('#queryCheck').hide()
                    }, 3000);
                }
                else {
                    $('#searchForm').submit();
                }
            });
        });
        //Get the button
        let mybutton = document.getElementById("btn-back-to-top");

        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
            scrollFunction();
        };

        function scrollFunction() {
            if (
                document.body.scrollTop > 20 ||
                document.documentElement.scrollTop > 20
            ) {
                mybutton.style.display = "block";
            } else {
                mybutton.style.display = "none";
            }
        }
        // When the user clicks on the button, scroll to the top of the document
        mybutton.addEventListener("click", backToTop);

        function backToTop() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

</body>
</html>