@model FBO.ViewModels.ResponseDataViewModel

<style>
    #featuredPromo {
        border-radius: 10px;
    }

    #fuelPrices {
        border-radius: 10px;
        color: white;
        padding: 20px
    }

        #fuelPrices .nav {
            background-color: rgb(238, 238, 238);
            color: black;
            border-radius: 10px;
            display: flex;
            justify-content: center;
        }

            #fuelPrices .nav li {
                padding-bottom: 9px;
                padding-top: 9px;
                font-weight: 600;
            }

            #fuelPrices .nav .active {
                background-color: white;
                font-weight: 700;
                border-radius: 10px;
                padding: 8px;
                color: rgb(168, 211, 43)
            }

        #fuelPrices a {
            color: white
        }

        #fuelPrices .nav li a {
            color: gray;
        }

    .tab-content {
        padding-top: 30px
    }

        .tab-content table {
            color: white;
        }

            .tab-content table td {
                padding: 0rem;
                padding-bottom: 10px;
                padding-top: 10px;
                padding-left: 0.5rem;
            }

            .tab-content table .heading {
                font-size: 16px;
                font-weight: 500;
            }

    #region {
        background-color: white;
        border-radius: 10px;
        padding: 10px;
    }

        #region a {
            color: rgb(71, 130, 211);
        }

    .middleBox {
        background-color: rgb(245, 245, 245);
        padding: 10px;
        border-radius: 10px
    }

        .middleBox span {
            color: rgb(150, 150, 150)
        }

        .middleBox h4,
        p {
            color: rgb(100, 100, 100)
        }

    .card {
        background-color: #fff;
        border-radius: 10px;
        border: none;
        position: relative;
        margin-bottom: 30px;
        box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1), 0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1), 0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12), 0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
    }

    .l-bg-cherry {
        background: linear-gradient(to right, #000000, #0000009e) !important;
        color: #fff;
    }

    .l-bg-blue-dark {
        background: linear-gradient(to right, #373b44, #4286f4) !important;
        color: #fff;
    }

    .l-bg-green-dark {
        background: linear-gradient(to right, #97cb00, #97cb0085) !important;
        color: #fff;
    }

    .l-bg-orange-dark {
        background: linear-gradient(to right, #a86008, #ffba56) !important;
        color: #fff;
    }

    .card .card-statistic-3 .card-icon-large .fas,
    .card .card-statistic-3 .card-icon-large .far,
    .card .card-statistic-3 .card-icon-large .fab,
    .card .card-statistic-3 .card-icon-large .fal {
        font-size: 110px;
    }

    .card .card-statistic-3 .card-icon {
        text-align: center;
        line-height: 50px;
        margin-left: 15px;
        color: #000;
        position: absolute;
        right: 10px;
        top: 20px;
        opacity: 0.1;
    }

    .l-bg-cyan {
        background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
        color: #fff;
    }

    .l-bg-green {
        background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
        color: #fff;
    }

    .l-bg-orange {
        background: linear-gradient(to right, #f9900e, #ffba56) !important;
        color: #fff;
    }

    .l-bg-cyan {
        background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
        color: #fff;
    }

    #navbarsExample2 a {
        color: rgb(233, 233, 233);
        border-bottom: rgb(233, 233, 233) 2px solid;
    }

        #navbarsExample2 a:hover {
            color: #97cb00;
            border-bottom: #97cb00 2px solid;
        }

    label {
        font-weight: 600;
    }

    .wrapper2 {
        width: 100%;
        display: grid;
        place-items: center;
        gap: 15px;
    }

    .container2 {
        height: 150px;
        width: 30%;
        background-color: #ffffff;
        box-shadow: 0 0 25px rgba(17, 1, 68, 0.08);
        border-radius: 8px;
        position: relative;
        cursor: pointer;
    }
    @@media screen and (min-width: 950px) {
            .wrapper2 {
                grid-template-columns: repeat(4, 1fr);
                gap: 10px;
            }

            .container2 {
                height: 160px;
                width: 90%;
            }

            input[type="checkbox"]:after {
                font-size: 22px;
            }
        }
    .inputCheckbox input {
        -webkit-appearance: none;
        position: relative;
        width: 100%;
        cursor: pointer;
        border: none
    }

        .inputCheckbox input:after {
            position: absolute;
            font-family: "Font Awesome 5 Free";
            font-weight: 400;
            content: "\f111";
            font-size: 18px;
            color: #478bfb;
            right: 10px;
            top: -5px;
        }

        .inputCheckbox input:checked:after {
            font-weight: 900;
            content: "\f058";
            color: #478bfb;
        }

    .container2 img {
        width: 50%;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        cursor: pointer;
    }



    .section-title {
        position: relative;
        text-transform: uppercase;
        margin-bottom: 1.875rem;
    }

        .section-title::before {
            position: absolute;
            left: 0;
            bottom: -8px;
            content: "";
            height: 2px;
            width: 5rem;
            background-color: #97cb00;
        }
</style>
<div class="row ms-2 mt-4">
    <div class="row">
        <div class="col-md-9">
            <nav aria-label="breadcrumb">
                <ol itemscope="" itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
                    <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="breadcrumb-item"><a itemprop="item" href="airport%20weather%20&%20fbo%20fuel%20prices%20_%20globalair.com.html"><span itemprop="name">FBO Management</span><meta itemprop="position" content="1"></a></li>
                    <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="breadcrumb-item active text-capitalize" aria-current="page"><a style="pointer-events: none; cursor: default; color: #6c757d;text-decoration:none" href="#" itemprop="item"><span itemprop="name">Extended & Basic Services</span><meta itemprop="position" content="3"></a></li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1 property="name">@Model.FBO.companyName (@Model.FBO.FBO.APTCode)</h1>
        </div>

    </div>
    <hr>
    <div class="row">
        <div class="col-md-3 col-12 bg-dark navbar-dark card" style="height: fit-content">
            <div class="navbar-expand-sm navbar-expand-md list-group list-group-flush mb-4">
                <span class="text-center mt-3" style="font-size: 1.1rem; color: white">
                    <b>
                        Add or Edit Services
                    </b>
                </span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample2" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                <div class="nav nav-pills navbar-right collapse navbar-collapse navbar-dark bg-dark" id="navbarsExample2">
                    <a href="#" class="list-group-item list-group-item-action list-item-custom bg-dark p-3">
                        Edit Account Information
                    </a> <a href="#" class="list-group-item list-group-item-action list-item-custom bg-dark p-3">
                        My Flight Department Services
                    </a> <a href="fbo information.html" class="list-group-item list-group-item-action list-item-custom bg-dark p-3">
                        FBO Information
                    </a> <a href="#" class="list-group-item list-group-item-action list-item-custom bg-dark p-3">
                        FBO Photos
                    </a> <a href="fuel.html" class="list-group-item list-group-item-action list-item-custom bg-dark p-3">
                        Update Fuel Prices
                    </a> <a href="#" class="list-group-item list-group-item-action list-item-custom bg-dark p-3">
                        Ratings and Reviews
                    </a> <a href="extented.html" class="list-group-item list-group-item-action list-item-custom bg-dark p-3">
                        Extended & Basic Services
                    </a> <a href="fuelcards.html" class="list-group-item list-group-item-action list-item-custom bg-dark p-3">
                        Fuel Cards
                    </a> <a href="logo.html" class="list-group-item list-group-item-action list-item-custom bg-dark p-3">
                        Logo Services
                    </a> <a href="CustomService.html" class="list-group-item list-group-item-action list-item-custom bg-dark p-3">
                        Custom Services
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-12">
            @if (TempData["success"] != null && TempData["success"].ToString() == "true")
            {
                <div class="row ms-1">
                    <div class="col">
                        <p class="alert alert-success">Your changes have been saved successfully.</p>
                        </div>
                </div>
            }
            else if(TempData["success"] != null && TempData["success"].ToString() == "false")
            {
                <div class="row ms-1">
                    <div class="col">
                        <p class="alert alert-danger">Oops, your changes have not been saved successfully, please try again later.</p>
                    </div>
                </div>
            }
            <div class="row ms-1">
                <div class="card float-right">
                    <div class="row mt-4">
                        @using (Html.BeginForm("BasicServiceUpdate", "Home", FormMethod.Post))
                        {
                            <h2 class="section-title display-6">
                                Basic Services
                            </h2>
                            <div class="row p-3 mb-3">

                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        <input type="hidden" name="companyID" value="@Model.FBO.FBO.CompanyID">
                                        @Html.CheckBox("checkboxCatering", Model.FBO.FBO.Services_Catering, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxCatering">Catering</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxHotel", Model.FBO.FBO.Services_Hotel, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxHotel">Hotel</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxCourtesy", Model.FBO.FBO.Services_CourtesyCar, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxCourtesy">Courtesy Car</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxWeather", Model.FBO.FBO.Services_Weather, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxWeather">Weather</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxRepairs", Model.FBO.FBO.Services_Repairs, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxRepairs">Repairs</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxRentalCars", Model.FBO.FBO.Services_RentalCars, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxRentalCars">Rental Cars</label>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 col-12 text-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="row ms-1">
                <div class="card float-right">
                    <div class="row mt-4">
                        @using (Html.BeginForm("ExtendedServiceUpdate", "Home", FormMethod.Post))
                        {
                            <h2 class="section-title display-6">
                                Extended Services
                            </h2>
                            <div class="row p-3 mb-3">
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        <input type="hidden" name="companyID" value="@Model.FBO.FBO.CompanyID">
                                        @Html.CheckBox("checkboxPilotLounge", Model.FBO.FBO.Services_PilotLounge, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxPilotLounge">Pilot Lounge</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxParking", Model.FBO.FBO.Services_Parking, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxParking">Parking</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxSnoozeRoom", Model.FBO.FBO.Services_SnoozeRoom, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxSnoozeRoom">Snooze Room</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxRestaurant", Model.FBO.FBO.Services_Restaurant, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxRestaurant">Restaurant</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxInternetAccess", Model.FBO.FBO.Services_Internet, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxInternetAccess">Internet Access</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxRestrooms", Model.FBO.FBO.Services_Restrooms, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxRestrooms">Restrooms</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxShowers", Model.FBO.FBO.Services_Showers, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxShowers">Showers</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxCrewCars", Model.FBO.FBO.Services_CrewCars, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxCrewCars">Crew Cars</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxDeIcing", Model.FBO.FBO.Services_DeIcing, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxDeIcing">De-Icing</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxAircraftDetailing", Model.FBO.FBO.Services_AircraftDetailing, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxAircraftDetailing">Aircraft Detailing</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxAircraftParts", Model.FBO.FBO.Services_AircraftParts, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxAircraftParts">Aircraft Parts</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxFlyingClub", Model.FBO.FBO.Services_FlyingClub, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxFlyingClub">Flying Club</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxAircraftMods", Model.FBO.FBO.Services_AircraftMods, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxAircraftMods">Aircraft Mods</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxAircraftPainting", Model.FBO.FBO.Services_AircraftPainting, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxAircraftPainting">Aircraft Painting</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxAircraftInterior", Model.FBO.FBO.Services_AircraftInterior, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxAircraftInterior">Aircraft Interior</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxAirMaintenance", Model.FBO.FBO.Services_AirframeMaintenance, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxAirMaintenance">Airframe Maintenance</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxPowMaintenance", Model.FBO.FBO.Services_Powerplant, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxPowMaintenance">Powerplant Maintenance</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxAvionicsService", Model.FBO.FBO.Services_AvionicsService, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxAvionicsService">Avionics Service</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxPassengerTerminal", Model.FBO.FBO.Services_PassengerTerminal, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxPassengerTerminal">Passenger Terminal</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxAircraftRental", Model.FBO.FBO.Services_AircraftRental, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxAircraftRental">Aircraft Rental</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxCharters", Model.FBO.FBO.Services_Charters, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxCharters">Charters</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxOxygen", Model.FBO.FBO.Services_Oxygen, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxOxygen">Oxygen</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxHangars", Model.FBO.FBO.Services_Hangars, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxHangars">Hangars</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxTieDowns", Model.FBO.FBO.Services_TieDowns, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxTieDowns">Tie Downs</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxFlightInstruction", Model.FBO.FBO.Services_FlightInstruction, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxFlightInstruction">Flight Instruction</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxLavService", Model.FBO.FBO.Services_LavService, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxLavService">Lav Service</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxQuickTurn", Model.FBO.FBO.Services_QuickTurn, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxQuickTurn">Quick Turn</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxTelevision", Model.FBO.FBO.Services_Television, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxTelevision">Television</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxConference", Model.FBO.FBO.Services_ConferenceRoom, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxConference">Conference Room</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxVending", Model.FBO.FBO.Services_VendingRoom, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxVending">Vending Machine</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxFlightPlanning", Model.FBO.FBO.Services_FlightPlanningRoom, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxFlightPlanning">Flight Planning Room</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxBusinessCenter", Model.FBO.FBO.Services_BusinessCenter, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxBusinessCenter">Business Center</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxFitnessCenter", Model.FBO.FBO.Services_FitnessCenter, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxFitnessCenter">Fitness Center</label>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 col-12 text-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
}
</div>
                </div>
            </div>
        </div>
    </div>
</div>
