@model FBO.ViewModels.ResponseDataViewModel
<link href="~/css/pagesStyle.css" rel="stylesheet" media="all" />


<div class="row ms-2 mt-4">
    <div class="row">
        <div class="col-md-9">
            <nav aria-label="breadcrumb">
                <ol itemscope="" itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
                    <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="breadcrumb-item"><a itemprop="item" href="airport%20weather%20&%20fbo%20fuel%20prices%20_%20globalair.com.html"><span itemprop="name">FBO Management</span><meta itemprop="position" content="1"></a></li>
                    <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="breadcrumb-item active text-capitalize" aria-current="page"><a style="pointer-events: none; cursor: default; color: #6c757d;text-decoration:none" href="#" itemprop="item"><span itemprop="name">Extended & Basic Services</span><meta itemprop="position" content="3"></a></li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1 property="name">@Model.FBO.companyName (@Model.FBO.FBO.APTCode)</h1>
        </div>

    </div>
    <hr>
    <div class="row">
        <partial name="_SubMenuItems" model="@Model.FBO" />
        <div class="col-md-9 col-12">
            @if (TempData["success"] != null && TempData["success"].ToString() == "true")
            {
                <div class="row ms-1">
                    <div class="col">
                        <p class="alert alert-success">Your changes have been saved successfully.</p>
                        </div>
                </div>
            }
            else if(TempData["success"] != null && TempData["success"].ToString() == "false")
            {
                <div class="row ms-1">
                    <div class="col">
                        <p class="alert alert-danger">Oops, your changes have not been saved successfully, please try again later.</p>
                    </div>
                </div>
            }
            <div class="row ms-1">
                <div class="card float-right">
                    <div class="row mt-4">
                        @using (Html.BeginForm("BasicServiceUpdate", "Home", FormMethod.Post))
                        {
                            <h2 class="section-title display-6">
                                Basic Services
                            </h2>
                            <div class="row p-3 mb-3">

                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        <input type="hidden" name="companyID" value="@Model.FBO.FBO.CompanyID">
                                        @Html.CheckBox("checkboxCatering", Model.FBO.FBO.Services_Catering, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxCatering">Catering</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxHotel", Model.FBO.FBO.Services_Hotel, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxHotel">Hotel</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxCourtesy", Model.FBO.FBO.Services_CourtesyCar, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxCourtesy">Courtesy Car</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxWeather", Model.FBO.FBO.Services_Weather, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxWeather">Weather</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxRepairs", Model.FBO.FBO.Services_Repairs, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxRepairs">Repairs</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxRentalCars", Model.FBO.FBO.Services_RentalCars, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxRentalCars">Rental Cars</label>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 col-12 text-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="row ms-1">
                <div class="card float-right">
                    <div class="row mt-4">
                        @using (Html.BeginForm("ExtendedServiceUpdate", "Home", FormMethod.Post))
                        {
                            <h2 class="section-title display-6">
                                Extended Services
                            </h2>
                            <div class="row p-3 mb-3">
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        <input type="hidden" name="companyID" value="@Model.FBO.FBO.CompanyID">
                                        @Html.CheckBox("checkboxPilotLounge", Model.FBO.FBO.Services_PilotLounge, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxPilotLounge">Pilot Lounge</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxParking", Model.FBO.FBO.Services_Parking, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxParking">Parking</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxSnoozeRoom", Model.FBO.FBO.Services_SnoozeRoom, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxSnoozeRoom">Snooze Room</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxRestaurant", Model.FBO.FBO.Services_Restaurant, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxRestaurant">Restaurant</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxInternetAccess", Model.FBO.FBO.Services_Internet, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxInternetAccess">Internet Access</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxRestrooms", Model.FBO.FBO.Services_Restrooms, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxRestrooms">Restrooms</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxShowers", Model.FBO.FBO.Services_Showers, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxShowers">Showers</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxCrewCars", Model.FBO.FBO.Services_CrewCars, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxCrewCars">Crew Cars</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxDeIcing", Model.FBO.FBO.Services_DeIcing, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxDeIcing">De-Icing</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxAircraftDetailing", Model.FBO.FBO.Services_AircraftDetailing, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxAircraftDetailing">Aircraft Detailing</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxAircraftParts", Model.FBO.FBO.Services_AircraftParts, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxAircraftParts">Aircraft Parts</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxFlyingClub", Model.FBO.FBO.Services_FlyingClub, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxFlyingClub">Flying Club</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxAircraftMods", Model.FBO.FBO.Services_AircraftMods, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxAircraftMods">Aircraft Mods</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxAircraftPainting", Model.FBO.FBO.Services_AircraftPainting, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxAircraftPainting">Aircraft Painting</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxAircraftInterior", Model.FBO.FBO.Services_AircraftInterior, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxAircraftInterior">Aircraft Interior</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxAirMaintenance", Model.FBO.FBO.Services_AirframeMaintenance, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxAirMaintenance">Airframe Maintenance</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxPowMaintenance", Model.FBO.FBO.Services_Powerplant, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxPowMaintenance">Powerplant Maintenance</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxAvionicsService", Model.FBO.FBO.Services_AvionicsService, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxAvionicsService">Avionics Service</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxPassengerTerminal", Model.FBO.FBO.Services_PassengerTerminal, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxPassengerTerminal">Passenger Terminal</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxAircraftRental", Model.FBO.FBO.Services_AircraftRental, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxAircraftRental">Aircraft Rental</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxCharters", Model.FBO.FBO.Services_Charters, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxCharters">Charters</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxOxygen", Model.FBO.FBO.Services_Oxygen, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxOxygen">Oxygen</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxHangars", Model.FBO.FBO.Services_Hangars, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxHangars">Hangars</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxTieDowns", Model.FBO.FBO.Services_TieDowns, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxTieDowns">Tie Downs</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxFlightInstruction", Model.FBO.FBO.Services_FlightInstruction, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxFlightInstruction">Flight Instruction</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxLavService", Model.FBO.FBO.Services_LavService, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxLavService">Lav Service</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxQuickTurn", Model.FBO.FBO.Services_QuickTurn, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxQuickTurn">Quick Turn</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxTelevision", Model.FBO.FBO.Services_Television, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxTelevision">Television</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxConference", Model.FBO.FBO.Services_ConferenceRoom, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxConference">Conference Room</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxVending", Model.FBO.FBO.Services_VendingRoom, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxVending">Vending Machine</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxFlightPlanning", Model.FBO.FBO.Services_FlightPlanningRoom, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxFlightPlanning">Flight Planning Room</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxBusinessCenter", Model.FBO.FBO.Services_BusinessCenter, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxBusinessCenter">Business Center</label>
                                    </div>
                                </div>
                                <div class="col-4 p-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("checkboxFitnessCenter", Model.FBO.FBO.Services_FitnessCenter, new { @class = "form-check-input" })
                                        <label class="form-check-label" for="checkboxFitnessCenter">Fitness Center</label>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 col-12 text-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
}
</div>
                </div>
            </div>
        </div>
    </div>
</div>
