@model FBO.ViewModels.ResponseDataViewModel
@{
    var singleFBO = Model.FBO != null ? true : false;
}
<style>
    #featuredPromo {
        border-radius: 10px;
    }

    #fuelPrices {
        border-radius: 10px;
        color: white;
        padding: 20px
    }

        #fuelPrices .nav {
            background-color: rgb(238, 238, 238);
            color: black;
            border-radius: 10px;
            display: flex;
            justify-content: center;
        }

            #fuelPrices .nav li {
                padding-bottom: 9px;
                padding-top: 9px;
                font-weight: 600;
            }

            #fuelPrices .nav .active {
                background-color: white;
                font-weight: 700;
                border-radius: 10px;
                padding: 8px;
                color: rgb(168, 211, 43)
            }

        #fuelPrices a {
            color: white
        }

        #fuelPrices .nav li a {
            color: gray;
        }

    .tab-content {
        padding-top: 30px
    }

        .tab-content table {
            color: white;
        }

            .tab-content table td {
                padding: 0rem;
                padding-bottom: 10px;
                padding-top: 10px;
                padding-left: 0.5rem;
            }

            .tab-content table .heading {
                font-size: 16px;
                font-weight: 500;
            }

    #region {
        background-color: white;
        border-radius: 10px;
        padding: 10px;
    }

        #region a {
            color: rgb(71, 130, 211);
        }

    .card {
        background-color: #fff;
        border-radius: 10px;
        border: none;
        position: relative;
        margin-bottom: 30px;
        box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1), 0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1), 0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12), 0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
    }

    .l-bg-cherry {
        background: linear-gradient(to right, #000000, #0000009e) !important;
        color: #fff;
    }

    .l-bg-blue-dark {
        background: linear-gradient(to right, #373b44, #4286f4) !important;
        color: #fff;
    }

    .l-bg-green-dark {
        background: linear-gradient(to right, #97cb00, #97cb0085) !important;
        color: #fff;
    }

    .l-bg-orange-dark {
        background: linear-gradient(to right, #a86008, #ffba56) !important;
        color: #fff;
    }

    .card .card-statistic-3 .card-icon-large .fas,
    .card .card-statistic-3 .card-icon-large .far,
    .card .card-statistic-3 .card-icon-large .fab,
    .card .card-statistic-3 .card-icon-large .fal {
        font-size: 110px;
    }

    .card .card-statistic-3 .card-icon {
        text-align: center;
        line-height: 50px;
        margin-left: 15px;
        color: #000;
        position: absolute;
        right: 10px;
        top: 20px;
        opacity: 0.1;
    }

    .l-bg-cyan {
        background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
        color: #fff;
    }

    .l-bg-green {
        background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
        color: #fff;
    }

    .l-bg-orange {
        background: linear-gradient(to right, #f9900e, #ffba56) !important;
        color: #fff;
    }

    .l-bg-cyan {
        background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
        color: #fff;
    }

    .l-bg-light {
        background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
    }

    #navbarsExample2 a {
        color: rgb(233, 233, 233);
        border-bottom: rgb(233, 233, 233) 2px solid;
    }

        #navbarsExample2 a:hover {
            color: #97cb00;
            border-bottom: #97cb00 2px solid;
        }
</style>

<div class="col">

    @if (singleFBO)
    {
        <div class="row ms-2 mt-4">
            <div class="row">
                <div class="col-12">
                    <h1 property="name">@Model.FBO.companyName (@Model.FBO.FBO.APTCode)</h1>
                </div>
            </div>
        </div>
        <div class="row ms-2 mt-4">
            <hr>
            <div class="row">
                <partial name="_SubMenuItems" model="@Model.FBO" />
                <div class="col-md-9 col-12">
                    <div class="row ms-1">
                        <div class="card float-right">
                            <div class="row">
                                <div class="col-sm-5">
                                    @if (Model.FBO.FBO.FBOLevel != "Basic")
                                    {
                                        <img class="d-block mt-3 mb-3" src="https://resources.globalair.com/airport/images/complogo/@Model.FBO.FBO.logo" alt="@Model.FBO.FBO.Company" style="display: block;
                                                                                                                                                                        margin-left: auto;
                                                                                                                                                                        margin-right: auto;">
                                    }
                                    <div class="card card-animation l-bg-green-dark mt-4">
                                        <div class="card-statistic-3 p-4">
                                            <div class="card-icon card-icon-large"></div>
                                            <div class="mb-4">
                                                <h5 class="card-title mb-0 ">FBO Level</h5>
                                                <h2 class="d-flex align-items-center mb-0">
                                                    @Model.FBO.FBO.FBOLevel
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="card-block">
                                        <table class="table table-borderless">
                                            <tr>
                                                <th>Telephone</th>
                                                <td>@Model.FBO.FBO.Phone</td>
                                            </tr>
                                            <tr>
                                                <th>Email</th>
                                                <td><a href="mailto:@Model.FBO.FBO.Email" class="text-decoration-none">@Model.FBO.FBO.Email</a></td>
                                            </tr>
                                            <tr>
                                                <th>Airport</th>
                                                <td><a href="/airport/apt.airport.aspx?aptcode=@Model.FBO.FBO.APTCode" class="text-decoration-none" target="_blank" rel="noreferrer">@Model.FBO.FBO.APTCode</a></td>
                                            </tr>
                                            <tr>
                                                <th>Address</th>
                                                <td>@Model.FBO.FBO.Address1</td>
                                            </tr>
                                            <tr>
                                                <th>Approved</th>
                                                <td>@Model.FBO.fboIsApproved</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="alert alert-primary">You may register another FBO by filling out the form located <a href="/airport/fbo_registration.aspx">here</a>.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (Model.FBO.isUpgradeEligible)
                    {
                        <div class="row text-center mb-3">
                            <div class="col">
                                <a href="/fbo/upgrade.aspx?companyid=@Model.FBO.FBO.CompanyID.ToString() "><img src="/images/FBOupgradeAd.gif" title="Click to upgrade your FBO on GlobalAir.com" alt="Click to upgrade your FBO on GlobalAir.com" style="border:0px;" /></a>
                            </div>
                        </div>
                    }
                    <div class="row">
                        <div class="col-12">
                            <div class="card p-4">
                                <div class="row">
                                    <div class="col-sm-7">
                                        <h4 class="card-subtitle mb-2">
                                            <b>Your fuel prices were last updated: </b>
                                            @Model.FBO.FBO.LastUpdated
                                        </h4>
                                    </div>
                                    <div class="col-sm-5">
                                        <div class="card-block">
                                            @if (!Model.FBO.fboIsExpired)
                                            {
                                                <a class="btn btn-lg btn-success btn-success-custom" href='/fbo/fuel.aspx?companyid=@Model.FBO.FBO.CompanyID'>Review your fuel prices here</a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-danger" href='/fbo/fuel.aspx?companyid=@Model.FBO.FBO.CompanyID'>Your fuel prices are out of date<br /><b>Update here</b></a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ms-1 ">
                        <div class="col-3">
                            <h3>Your Statistics:</h3>
                        </div>
                        <div class="col-9 text-end">
                            <b>Start Date:</b><input name="ctl00$Content$tbStartDate" type="date" id="Content_tbStartDate" value="@Convert.ToDateTime(Model.FBO.startDate).ToString("yyyy-MM-dd")">
                            <b>End Date:</b><input name="ctl00$Content$tbStartDate" type="date" id="Content_tbStartDate" value="@Convert.ToDateTime(Model.FBO.endDate).ToString("yyyy-MM-dd")">
                            <a href="#" class="btn btn-success btn-success-custom">Search Stats</a>
                        </div>
                    </div>
                    <div class="row ms-1 mt-2">
                        <div class="col-xl-4 col-lg-4">
                            <div class="card card-animation l-bg-light">
                                <div class="card-statistic-3 p-4">
                                    <div class="card-icon card-icon-large"><img src="/images/click.png" /></div>
                                    <div class="mb-4">
                                        <h5 class="card-title mb-0">Airport Page <br>Views</h5>
                                    </div>
                                    <div class="row align-items-center mb-2 d-flex">
                                        <div class="col-8">
                                            <h2 class="d-flex align-items-center mb-0">
                                                @Model.FBO.fboStats.airport_pageviews
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4">
                            <div class="card card-animation l-bg-light">
                                <div class="card-statistic-3 p-4">
                                    <div class="card-icon card-icon-large"><img src="/images/click.png" /></div>
                                    <div class="mb-4">
                                        <h5 class="card-title mb-0">FBO Page <br>Views</h5>
                                    </div>
                                    <div class="row align-items-center mb-2 d-flex">
                                        <div class="col-8">
                                            <h2 class="d-flex align-items-center mb-0">
                                                @Model.FBO.fboStats.fbo_pageviews
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4">
                            <div class="card card-animation l-bg-light">
                                <div class="card-statistic-3 p-4">
                                    <div class="card-icon card-icon-large"><img src="/images/click.png" /></div>
                                    <div class="mb-4">
                                        <h5 class="card-title mb-0">Contact Now <br>Clickthroughs</h5>
                                    </div>
                                    <div class="row align-items-center mb-2 d-flex">
                                        <div class="col-8">
                                            <h2 class="d-flex align-items-center mb-0">
                                                @Model.FBO.fboStats.fbo_clickthroughs
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ms-1">
                        <div class="card float-right">
                            <div class="row">
                                <div class="col-sm-5 p-3">
                                    <div class="container mb-3 text-center"> <a type="button" class="w-100 btn btn-success btn-success-custom rounded" href="#">Aircraft Registration Lookup</a> </div>
                                    <div class="container mb-3 text-center"> <a type="button" class="w-100 btn btn-success btn-success-custom rounded" href="#">Sell Your Aircraft</a> </div>
                                    <div class="container text-center"> <a type="button" class="w-100 btn btn-success btn-success-custom rounded" href="#">Create a Press Release</a> </div>
                                </div>
                                <div class="col-sm-7 p-3">
                                    <div class="row">
                                        <h4>
                                            <a href="#" class="text-decoration-none">
                                                @Model.FBO.averageprices.RegionName
                                                Average Fuel Prices:
                                            </a>
                                        </h4>
                                        <div class="col-4">
                                            <div class="card card-animation l-bg-light">
                                                <div class="card-statistic-3 p-4">
                                                    <div class="mb-4">
                                                        <h5 class="card-title mb-0">JetA</h5>
                                                    </div>
                                                    <div class="row align-items-center mb-2 d-flex">
                                                        <div class="col-8">
                                                            <h2 class="d-flex align-items-center mb-0">
                                                                $@Math.Round(Convert.ToDecimal(Model.FBO.averageprices.Average_JETA), 2)
                                                            </h2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="card card-animation l-bg-light">
                                                <div class="card-statistic-3 p-4">
                                                    <div class="mb-4">
                                                        <h5 class="card-title mb-0">100LL</h5>
                                                    </div>
                                                    <div class="row align-items-center mb-2 d-flex">
                                                        <div class="col-8">
                                                            <h2 class="d-flex align-items-center mb-0">
                                                                $@Math.Round(Convert.ToDecimal(Model.FBO.averageprices.Average_100LL), 2)
                                                            </h2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <div class="card card-animation l-bg-light">
                                                <div class="card-statistic-3 p-4">
                                                    <div class="mb-4">
                                                        <h5 class="card-title mb-0">SAF</h5>
                                                    </div>
                                                    <div class="row align-items-center mb-2 d-flex">
                                                        <div class="col-8">
                                                            <h2 class="d-flex align-items-center mb-0">
                                                                @if (Model.FBO.averageprices.Average_SAF > 0)
                                                                {
                                                                    <span>$@Math.Round(Convert.ToDecimal(Model.FBO.averageprices.Average_SAF), 2)</span>
                                                                }
                                                                else
                                                                {
                                                                    <span>N/A</span>
                                                                }
                                                            </h2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="height: 20px;border-bottom: 1px solid black;text-align: center;margin-bottom: 30px;">
                                <a href="#" class="text-decoration-none">
                                    <span style="background-color: white;padding: -27px;padding-left: 10px;padding-right: 10px;top: -10px;position: relative;" class="display-6">
                                        Ratings & Reviews
                                    </span>
                                </a>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 p-3">
                                    <div class="row">
                                        <div class="col-6">
                                            <a href="#" class="text-decoration-none text-black">
                                                <div class="card card-animation l-bg-light">
                                                    <div class="card-statistic-3 p-4">
                                                        <div class="card-icon card-icon-large"><img src="/images/star.png" /></div>
                                                        <div class="mb-4">
                                                            <h5 class="card-title mb-0">Ratings</h5>
                                                        </div>
                                                        <div class="row align-items-center mb-2 d-flex">
                                                            <div class="col-8">
                                                                <h2 class="d-flex align-items-center mb-0">
                                                                    4.8/5
                                                                </h2>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-6">
                                            <a href="#" class="text-decoration-none text-black">

                                                <div class="card card-animation l-bg-light">
                                                    <div class="card-statistic-3 p-4">
                                                        <div class="card-icon card-icon-large"><img src="/images/star.png" /></div>
                                                        <div class="mb-4">
                                                            <h5 class="card-title mb-0">Reviews</h5>
                                                        </div>
                                                        <div class="row align-items-center mb-2 d-flex">
                                                            <div class="col-8">
                                                                <h2 class="d-flex align-items-center mb-0">
                                                                    @Model.FBO.reviews_of_ratings
                                                                </h2>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="row ms-2 mt-4">
            <div class="row">
                <div class="col-12">
                    <h1 property="name">@Model.FBOs[0].CompanyName</h1>
                </div>
            </div>
        </div>
        <div class="row ms-2 mt-4">
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-primary">
                        <p class="lead">Your account has <b>@Model.FBOs.Count</b> FBO locations on GlobalAir.com. Select one of your FBOs from the list below to update the fuel prices or other information at that location.</p>
                    </div>
                    <div class="list-group">
                        <div class="row">
                            @foreach (var item in Model.FBOs)
                            {
                                <div class="col-4 p-1">
                                    <a href="/fbo/companymanage.aspx?companyid=@item.CompanyID" class="card-animation list-group-item list-group-item-action list-group-item-secondary lead"><b>@item.CompanyName (@item.APTCode)</b></a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>