@model FBO.ViewModels.ResponseDataViewModel
@{
    var singleFBO = Model.FBO != null ? true : false;
}

<link href="~/css/pagesStyle.css" rel="stylesheet" media="all" />

<div class="col">

    @if (singleFBO)
    {
        <div class="row ms-2 mt-4">
            <div class="row">
                <div class="col-12 col-md-9">
                    <h1 property="name">@Model.FBO.companyName (@Model.FBO.FBO.APTCode)</h1>
                </div>
                @if (Model.fbocount > 1)
                {

                    <div class="col-12 col-md-3">
                        <a href="/fbo/companymanage.aspx" class="btn btn-success btn-success-custom float-md-end">List of all FBOs</a>
                    </div>
                }
            </div>
        </div>
        <div class="row ms-2 mt-2">
            <hr>
            <div class="row">
                <partial name="_SubMenuItems" model="@Model.FBO" />
                <div class="col-md-9 col-12">
                    @if (Model.FBO.fboIsApproved != "Yes")
                    {
                        <div class="row ms-1">
                            <div class="col-12">
                                <p class="alert alert-info">
                                    Once your FBO is approved, You will be able to enter your fuel prices and update your services.
                                </p>
                            </div>
                        </div>

                    }
                    @if (Model.FBO.isUpgradeEligible)
                    {
                        @if (ViewBag.IsMobile != null && ViewBag.IsMobile)
                        {
                            <div class="row text-center mb-3 ms-1">
                                <div class="col">
                                    <a href="/fbo/upgrade.aspx?companyid=@Model.FBO.FBO.CompanyID.ToString() "><img src="https://resources.globalair.com/images/fbo/fbo-upgrade-mobile.png " title="Click to upgrade your FBO on GlobalAir.com" alt="Click to upgrade your FBO on GlobalAir.com" style="border:0px; width: 100%; border-radius: 10px" /></a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row text-center mb-3 ms-1">
                                <div class="col">
                                    <a href="/fbo/upgrade.aspx?companyid=@Model.FBO.FBO.CompanyID.ToString() "><img src="https://resources.globalair.com/images/fbo/fbo-upgrade.jpg " title="Click to upgrade your FBO on GlobalAir.com" alt="Click to upgrade your FBO on GlobalAir.com" style="border:0px; width: 100%; border-radius: 10px" /></a>
                                </div>
                            </div>
                        }
                    }
                    <div class="row ms-1">
                        <div class="card float-right">
                            <div class="row">
                                <div class="col-sm-5">
                                    @if (Model.FBO.FBO.FBOLevel != "Basic" && !String.IsNullOrEmpty(Model.FBO.FBO.logo))
                                    {
                                        <img class="d-block mt-3 mb-3" src="https://resources.globalair.com/airport/images/complogo/@Model.FBO.FBO.logo" alt="@Model.FBO.FBO.Company" style="max-width: inherit;" @*style="display: block; margin-left: auto; margin-right: auto;"*@>
                                    }
                                    <div class="card card-animation l-bg-green-dark mt-4">
                                        <div class="card-statistic-3 p-4">
                                            <div class="card-icon card-icon-large"></div>
                                            <div class="mb-4">
                                                <h5 class="card-title mb-0 ">FBO Level</h5>
                                                <h2 class="d-flex align-items-center mb-0">
                                                    @Model.FBO.FBO.FBOLevel
                                                </h2>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-7">
                                    <div class="card-block">
                                        <table class="table table-borderless">
                                            <tr>
                                                <th>Telephone</th>
                                                <td><a class="text-decoration-none" href="tel:@Model.FBO.FBO.Phone">@Model.FBO.FBO.Phone</a></td>
                                            </tr>
                                            <tr>
                                                <th>Email</th>
                                                <td><a href="mailto:@Model.FBO.FBO.Email" class="text-decoration-none" style="word-break:break-all">@Model.FBO.FBO.Email</a></td>
                                            </tr>
                                            <tr>
                                                <th>Airport</th>
                                                <td><a href="/airport/apt.airport.aspx?aptcode=@Model.FBO.FBO.APTCode" class="text-decoration-none" target="_blank" rel="noreferrer">@Model.FBO.FBO.APTCode</a></td>
                                            </tr>
                                            <tr>
                                                <th>Address</th>
                                                <td>@Model.FBO.FBO.Address1</td>
                                            </tr>
                                            <tr>
                                                <th>Approved</th>
                                                <td>@(Model.FBO.fboIsApproved == "Yes" ? "Yes" : "Pending")</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-12">
                                            <p class="alert alert-primary">You may register another FBO by filling out the form located <a href="/airport/fbo_registration.aspx">here</a>.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    @if (@Model.FBO.fboIsApproved == "Yes")
                    {
                        <div class="row">
                            <div class="col-12">
                                <div class="card p-4">
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <h4 class="card-subtitle mb-2">
                                                <b>Your fuel prices were last updated: </b>
                                                @Model.FBO.FBO.LastUpdated
                                            </h4>
                                        </div>
                                        <div class="col-sm-5">
                                            <div class="card-block">
                                                @if (!Model.FBO.fboIsExpired)
                                                {
                                                    <a class="btn btn-lg btn-success btn-success-custom" href='/fbo/fuel.aspx?companyid=@Model.FBO.FBO.CompanyID'>Review your fuel prices here</a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-danger" href='/fbo/fuel.aspx?companyid=@Model.FBO.FBO.CompanyID'>Your fuel prices are out of date<br /><b>Update here</b></a>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="row ms-1 ">
                        <div class="col-12 col-md-3">
                            <h3>Your Statistics:</h3>
                        </div>
                        <div class="col-9 text-end">
                            <b>Start Date:</b><input name="startDate" type="date" id="startDate" value="@Convert.ToDateTime(Model.FBO.startDate).ToString("yyyy-MM-dd")">
                            <b>End Date:</b><input name="endDate" type="date" id="endDate" value="@Convert.ToDateTime(Model.FBO.endDate).ToString("yyyy-MM-dd")">
                            <button id="search-stats" class="btn btn-success btn-success-custom">Search Stats</button>
                        </div>
                    </div>
                    <div class="row ms-1 mt-2">
                        <div class="col-xl-4 col-lg-4">
                            <div class="card card-animation l-bg-light">
                                <div class="card-statistic-3 p-4">
                                    <div class="card-icon card-icon-large"><img src="/images/click.png" /></div>
                                    <div class="mb-4">
                                        <h5 class="card-title mb-0">Airport Page <br>Views</h5>
                                    </div>
                                    <div class="row align-items-center mb-2 d-flex">
                                        <div class="col-8">
                                            <h2 id="apv" class="d-flex align-items-center mb-0">
                                                @Model.FBO.fboStats.airport_pageviews
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4">
                            <div class="card card-animation l-bg-light">
                                <div class="card-statistic-3 p-4">
                                    <div class="card-icon card-icon-large"><img src="/images/click.png" /></div>
                                    <div class="mb-4">
                                        <h5 class="card-title mb-0">FBO Page <br>Views</h5>
                                    </div>
                                    <div class="row align-items-center mb-2 d-flex">
                                        <div class="col-8">
                                            <h2 id="fpv" class="d-flex align-items-center mb-0">
                                                @Model.FBO.fboStats.fbo_pageviews
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4">
                            <div class="card card-animation l-bg-light">
                                <div class="card-statistic-3 p-4">
                                    <div class="card-icon card-icon-large"><img src="/images/click.png" /></div>
                                    <div class="mb-4">
                                        <h5 class="card-title mb-0">Contact Now <br>Clickthroughs</h5>
                                    </div>
                                    <div class="row align-items-center mb-2 d-flex">
                                        <div class="col-8">
                                            <h2 id="cct" class="d-flex align-items-center mb-0">
                                                @Model.FBO.fboStats.fbo_inquiries
                                            </h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row ms-1">
                        <div class="card float-right">
                            <div class="row">
                                <div class="col-sm-5 p-3">
                                    <div class="container mb-3 text-center"> <a type="button" class="w-100 btn btn-success btn-success-custom rounded" href="/ac-reg/search.aspx">Aircraft Registration Lookup</a> </div>
                                    <div class="container mb-3 text-center"> <a type="button" class="w-100 btn btn-success btn-success-custom rounded" href="/myaircraft/rates">Sell Your Aircraft</a> </div>
                                    <div class="container text-center"> <a type="button" class="w-100 btn btn-success btn-success-custom rounded" href="/articles/edit">Create a Press Release</a> </div>
                                </div>
                                <div class="col-sm-7 p-3">
                                    <div class="row">
                                        <h4>
                                            <a href="#" class="text-decoration-none">
                                                NBAA @Model.FBO.averageprices.RegionName
                                                Average Fuel Prices:
                                            </a>
                                        </h4>
                                        <div class="col-12 col-md-4">
                                            <div class="card card-animation l-bg-light">
                                                <div class="card-statistic-3 p-4">
                                                    <div class="mb-4">
                                                        <h5 class="card-title mb-0">JetA</h5>
                                                    </div>
                                                    <div class="row align-items-center mb-2 d-flex">
                                                        <div class="col-8">
                                                            <h2 class="d-flex align-items-center mb-0">
                                                                $@Math.Round(Convert.ToDecimal(Model.FBO.averageprices.Average_JETA), 2)
                                                            </h2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="card card-animation l-bg-light">
                                                <div class="card-statistic-3 p-4">
                                                    <div class="mb-4">
                                                        <h5 class="card-title mb-0">100LL</h5>
                                                    </div>
                                                    <div class="row align-items-center mb-2 d-flex">
                                                        <div class="col-8">
                                                            <h2 class="d-flex align-items-center mb-0">
                                                                $@Math.Round(Convert.ToDecimal(Model.FBO.averageprices.Average_100LL), 2)
                                                            </h2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-4">
                                            <div class="card card-animation l-bg-light">
                                                <div class="card-statistic-3 p-4">
                                                    <div class="mb-4">
                                                        <h5 class="card-title mb-0">SAF</h5>
                                                    </div>
                                                    <div class="row align-items-center mb-2 d-flex">
                                                        <div class="col-8">
                                                            <h2 class="d-flex align-items-center mb-0">
                                                                @if (Model.FBO.averageprices.Average_SAF > 0)
                                                                {
                                                                    <span>$@Math.Round(Convert.ToDecimal(Model.FBO.averageprices.Average_SAF), 2)</span>
                                                                }
                                                                else
                                                                {
                                                                    <span>N/A</span>
                                                                }
                                                            </h2>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div style="height: 20px;border-bottom: 1px solid black;text-align: center;margin-bottom: 30px;">
                                <a href="/airport/fboratings.aspx?companyid=@Model.FBO.FBO.CompanyID" class="text-decoration-none">
                                    <span style="background-color: white;padding: -27px;padding-left: 10px;padding-right: 10px;top: -10px;position: relative;" class="display-6">
                                        Ratings & Reviews
                                    </span>
                                </a>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 p-3">
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <a href="/airport/fboratings.aspx?companyid=@Model.FBO.FBO.CompanyID" class="text-decoration-none text-black">
                                                <div class="card card-animation l-bg-light">
                                                    <div class="card-statistic-3 p-4">
                                                        <div class="card-icon card-icon-large"><img src="/images/star.png" /></div>
                                                        <div class="mb-4">
                                                            <h5 class="card-title mb-0">Ratings</h5>
                                                        </div>
                                                        <div class="row align-items-center mb-2 d-flex">
                                                            <div class="col-8">
                                                                <h2 class="d-flex align-items-center mb-0">
                                                                    @Model.FBO.ratingStats.averageRating/5
                                                                </h2>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <a href="/airport/fboratings.aspx?companyid=@Model.FBO.FBO.CompanyID" class="text-decoration-none text-black">

                                                <div class="card card-animation l-bg-light">
                                                    <div class="card-statistic-3 p-4">
                                                        <div class="card-icon card-icon-large"><img src="/images/star.png" /></div>
                                                        <div class="mb-4">
                                                            <h5 class="card-title mb-0">Reviews</h5>
                                                        </div>
                                                        <div class="row align-items-center mb-2 d-flex">
                                                            <div class="col-8">
                                                                <h2 class="d-flex align-items-center mb-0">
                                                                    @Model.FBO.ratingStats.TotalReviews
                                                                </h2>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        @section Scripts{
        <script>
            $("#search-stats").click(function () {
                var startDate = $('#startDate').val();
                var endDate = $('#endDate').val();

                $.ajax({
                    //For prod
                    url: '/fbo/api/FBOHelperAPI/GetFBOStats',
                    //For local
                    //url: '/api/FBOHelperAPI/GetFBOStats',
                    type: 'GET',
                    data: { companyID: '@Model.FBO.FBO.CompanyID', StartDate: startDate, EndDate: endDate },
                    contentType: "application/json; charset=utf-8",

                    success: function (response) {

                        $('#fpv').html(response.fbo_pageviews);
                        $('#cct').html(response.fbo_inquiries);

                        $('#apv').html(response.airport_pageviews);
                        console.log(response);
                    },
                    error: function (error) {

                        console.log(error);
                    }
                });
            });

        </script>
    }
    }
    else
    {
        <div class="row ms-2 mt-4">
            <div class="row">
                <div class="col-12">
                    <h1 property="name">@Model.FBOs[0].CompanyName</h1>
                </div>
            </div>
        </div>
        <div class="row ms-2 mt-4">
            <hr>
            <div class="row">
                <div class="col-sm-12">
                    <div class="alert alert-primary">
                        <p class="lead">Your account has <b>@Model.FBOs.Count</b> FBO locations on GlobalAir.com. Select one of your FBOs from the list below to update the fuel prices or other information at that location.</p>
                    </div>
                    <div class="list-group">
                        <div class="row">
                            @foreach (var item in Model.FBOs)
                            {
                                <div class="col-4 p-1">
                                    <a href="/fbo/companymanage.aspx?companyid=@item.CompanyID" class="card-animation list-group-item list-group-item-action list-group-item-secondary lead"><b>@item.CompanyName (@item.APTCode)</b></a>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>