@model FBO.ViewModels.ResponseDataViewModel
<link href="~/css/pagesStyle.css" rel="stylesheet" media="all" />
@section Breadcrumb {
    <nav aria-label="breadcrumb">
        <ol itemscope="" itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
            <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="breadcrumb-item"><a itemprop="item" href="/fbo/companymanage.aspx?companyid=@Model.FBO.FBO.CompanyID"><span itemprop="name">FBO Management</span><meta itemprop="position" content="1"></a></li>
            <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="breadcrumb-item active text-capitalize" aria-current="page"><a style="pointer-events: none; cursor: default; color: #6c757d;text-decoration:none" href="#" itemprop="item"><span itemprop="name">Update Your Custom Services</span><meta itemprop="position" content="3"></a></li>
        </ol>
    </nav>
}
<div class="row ms-2 mt-4">
    <div class="row">
        <div class="col-12">
            <h1 property="name">@Model.FBO.companyName (@Model.FBO.FBO.APTCode)</h1>
        </div>

    </div>
    <hr>
    <div class="row">
        <partial name="_SubMenuItems" model="@Model.FBO" />
        <div class="col-md-9 col-12">
            <div class="row ms-1" id="successMessage" style="display: none">
                <div class="col">
                    <p class="alert alert-success">Your changes have been updated successfully.</p>
                </div>
            </div>
            <div class="row ms-1" id="errorMessage" style="display: none">
                <div class="col">
                    <p class="alert alert-danger">Oops, your changes have not been updated successfully, please try again later.</p>
                </div>
            </div>
            @if (TempData["success"] != null && TempData["success"].ToString() == "true")
            {
                <div id="s" class="row ms-1">
                    <div class="col">
                        <p class="alert alert-success">Your changes have been saved successfully.</p>
                    </div>
                </div>
            }
            else if (TempData["success"] != null && TempData["success"].ToString() == "false")
            {
                <div id="f" class="row ms-1">
                    <div class="col">
                        <p class="alert alert-danger">@TempData["errorMesssage"]</p>
                    </div>
                </div>
            }
            <div class="row ">
                @using (Html.BeginForm("SaveUpdateCustomServices", "FBOHelper", FormMethod.Post))
                {
                    <div class="form-group">
                        <label for="exampleInputEmail1">Add/Update Custom Service:</label>
                        <input type="text" class="form-control" name="customservice" id="text" aria-describedby="text" placeholder="Custom Service" value="">
                        <input type="hidden" id="serviceID" aria-describedby="serviceID" name="serviceID" value="">
                        <input type="hidden" id="companyID" aria-describedby="companyID" name="companyID" value="@Model.FBO.FBO.CompanyID">
                        <button id="SaveBtn" type="submit" class="btn btn-success  btn-success-custom">Save</button>
                    </div>
                }
            </div><br>
            <div class="row ">
                <div>
                    <ol class="list-group list-group-numbered">
                        @foreach (var item in Model.customServices)
                        {
                            <li class="list-group-item">
                                @item.customservice
                                <button id="editService" value="@item.customservice" style="float: right;" type="button" class="editService btn btn-success-custom" data-id="@item.serviceID" data-name="@item.customservice">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"></path>
                                    </svg>
                                </button>
                                <button id="deleteService" style="float: right;" type="submit" class="deleteService btn btn-danger" data-id="@item.serviceID">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-trash-fill" viewBox="0 0 16 16">
                                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"></path>
                                    </svg>
                                </button>
                            </li>
                        }
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>

        $(".editService").click(function () {

            $("#text").val($(this).attr("data-name"));
            $("#serviceID").val($(this).attr("data-id"));
        });

       
            if( $('#s').show())
                setTimeout(function () {
                    $('#s').hide();
                }, 4000);
            
            
            else if ($('#f').show())
            {
                       
               
                setTimeout(function () {
                    $('#f').hide();
                }, 4000);
          
            }
       
        $(".deleteService").click(function () {
            var listItem = $(this).parent();
                debugger;
            $.ajax({
                 url: '/api/FBOHelperAPI/DeleteCustomService',
                type: 'GET',
                data:{ serviceID: '$(this).attr("data-id")'},
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    console.log(response);
                    if (response == "success") {
                        listItem.remove();
                        $('#successMessage').show();
                        setTimeout(function () {
                            $('#successMessage').hide();
                        }, 4000);
                    }
                    else {
                        $('#errorMessage').show();
                        setTimeout(function () {
                            $('#errorMessage').hide();
                        }, 4000);
                    }

                },
                error: function () {
                    $('#errorMessage').show();
                    setTimeout(function () {
                        $('#errorMessage').hide();
                    }, 4000);
                }
            });
        });
    </script>
	}
