@model FBO.ViewModels.ResponseDataViewModel
<link href="~/css/pagesStyle.css" rel="stylesheet" media="all" />
@section Breadcrumb {
    <nav aria-label="breadcrumb">
        <ol itemscope="" itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
            <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="breadcrumb-item"><a itemprop="item" href="/fbo/companymanage.aspx?companyid=@Model.FBO.FBO.CompanyID"><span itemprop="name">FBO Management</span><meta itemprop="position" content="1"></a></li>
            <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="breadcrumb-item active text-capitalize" aria-current="page"><a style="pointer-events: none; cursor: default; color: #6c757d;text-decoration:none" href="#" itemprop="item"><span itemprop="name">Update Your Information</span><meta itemprop="position" content="3"></a></li>
        </ol>
    </nav>
}
<div class="row ms-2 mt-4">
    <div class="row">
        <div class="col-12">
            <h1 property="name">@Model.FBO.companyName (@Model.FBO.FBO.APTCode)</h1>
        </div>

    </div>
    <hr>
    <div class="row">
        <partial name="_SubMenuItems" model="@Model.FBO" />
        <div class="col-md-9 col-12">
            @if (TempData["success"] != null && TempData["success"].ToString() == "true")
            {
                <div id="s" class="row ms-1">
                    <div class="col">
                        <p class="alert alert-success">Your changes have been saved successfully.</p>
                    </div>
                </div>
            }
            else if (TempData["success"] != null && TempData["success"].ToString() == "false")
            {
                <div id="f" class="row ms-1">
                    <div class="col">
                        <p class="alert alert-danger">@TempData["errorMesssage"]</p>
                    </div>
                </div>
            }
            <div class="row ms-1">
                <div class="card float-right">
                    <div class="row mt-4">
                        @using (Html.BeginForm("FboInformationUpdate", "FBOHelper", FormMethod.Post, new { name = "logoser", id = "logoser", enctype = "multipart/form-data" }))
                        {
                            <h2 class="section-title display-6">
                                FBO Information
                            </h2>
                            <div style="height: 20px;border-bottom: 1px solid black;text-align: center;margin-bottom: 30px;">
                                <span style="background-color: white;padding: -27px;padding-left: 10px;padding-right: 10px;top: -10px;position: relative;" class="display-6">
                                    Basic Info
                                </span>
                            </div>
                            <div class="row mb-2">
                                <div class="mb-3 col-6">
                                    <label for="ManagerName" class="form-label">Manager</label>
                                    <input type="hidden" name="companyID" value="@Model.FBO.FBO.CompanyID">
                                    <input type="hidden" name="logo" value="@(Model.FBO !=null ?        Model.FBO.FBO.logo:"")">
                                <input type="hidden" name="managerpic" value="@(Model.singleFBO !=null ? Model.singleFBO.ManagerPhoto:"")">
                                    <input type="text" class="form-control" id="ManagerName" name="ManagerName" aria-describedby="Manager Name" value="@Model.FBO.FBO.manager">
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="Address1" class="form-label">Address</label>
                                    <input type="text" class="form-control" id="Address1" name="Address1" value="@Model.FBO.FBO.Address1">
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="Address2" class="form-label">Address 2</label>
                                    <input type="text" class="form-control" id="Address2" name="Address2" value="@Model.FBO.FBO.Address2">
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="City" class="form-label">City</label>
                                    <input type="text" class="form-control" id="City" name="City" value="@Model.FBO.FBO.City">
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="stateid" class="form-label">State</label>
                                    <select name="stateid" class="form-select" aria-label="Default select example" id='stateid'>
                                        @foreach (var item in Model.locations)
                                        {
                                            <option value="@item.Aircraft_LocationId" selected">@item.LocName</option>
                                        }
                                    </select>
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="Zipcode" class="form-label">Zip</label>
                                    <input type="text" class="form-control" id="Zipcode" name="Zipcode" value="@Model.FBO.FBO.Zip">
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="Phone" class="form-label">Telephone</label>
                                    <input type="text" class="form-control" id="Phone" name="Phone" value="@Model.FBO.FBO.Phone">
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="Fax" class="form-label">Fax</label>
                                    <input type="text" class="form-control" id="Fax" name="Fax" value="@Model.FBO.FBO.Fax">
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="Arinc" class="form-label">Arinc</label>
                                    <input type="text" class="form-control" id="Arinc" name="Arinc" value="@Model.FBO.FBO.Arinc">
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="Unicom" class="form-label">Unicom</label>
                                    <input type="text" class="form-control" id="Unicom" name="Unicom" value="@Model.FBO.FBO.Unicom">
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="FAARepair" class="form-label">FAA Repair Code</label>
                                    <input type="text" class="form-control" id="FAARepair" name="FAARepair" aria-describedby="emailHelp" value="@Model.FBO.FBO.FAARepairCode">
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="Email" class="form-label">Email</label>
                                    <input type="text" class="form-control" id="Email" name="Email" value="@Model.FBO.FBO.Email">
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="URL" class="form-label">URL</label>
                                    <input type="text" class="form-control" id="URL" name="URL" value="@Model.FBO.FBO.URL">
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="exampleInputtext1" class="form-label">Airport</label>
                                    <a href="#" class="text-decoration-none">
                                        <input type="text" class="form-control" name="Address1" readonly id="exampleInputtext1" value="@Model.FBO.FBO.APTCode" style="cursor: pointer">
                                    </a>
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="OpHours" class="form-label">Operating Hours</label>
                                    <input type="text" class="form-control" name="OpHours" id="OpHours" value="@Model.FBO.FBO.OperatingHours">
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="strRampFee" class="form-label">Ramp Fee</label>
                                    @*<input type="text" class="form-control" name="strRampFee" id="strRampFee" value="@Model.FBO.FBO.RampFee">*@
                                    <select class="form-select" aria-label="Ramp Fee" id="strRampFee" name="strRampFee">
                                        <option>RampFee is added?</option>
                                        <option value="@Model.FBO.FBO.RampFee" selected="@(Model.FBO.FBO.RampFee =="Yes"?"selected":"")">Yes</option>
                                        <option value="@Model.FBO.FBO.RampFee">No</option>

                                    </select>
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="RampDescription" class="form-label">Explain Ramp Fee</label>
                                    <textarea class="form-control" id="RampDescription" name="RampDescription" rows="3">@Model.FBO.FBO.rampfeedescription</textarea>

                                </div>
                                <div class="mb-3 col-6">
                                    <label for="ComDescription" class="form-label">FBO Description</label>
                                    <textarea class="form-control" name="ComDescription" id="ComDescription" rows="3">@Model.FBO.FBO.Description</textarea>
                                </div>

                            </div>
                            <div style="height: 20px;border-bottom: 1px solid black;text-align: center;margin-bottom: 30px;">
                                <span style="background-color: white;padding: -27px;padding-left: 10px;padding-right: 10px;top: -10px;position: relative;" class="display-6">
                                    Credit Cards Accepted
                                </span>
                            </div>
                            <div class="row mt-5 mb-5">
                                <div class="col-12 col-md-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("cc_mastercard", Model.fboCreditCards != null ? (Model.fboCreditCards.mastercard==1 ?true:false) : false, new { @class="form-check-input" })
                                        <label class="form-check-label" for="flexSwitchCheckChecked">Mastercard</label>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("cc_visa",(Model.fboCreditCards !=null ? (Model.fboCreditCards.visa==1 ?true:false):false), new { @class="form-check-input" })
                                        <label class="form-check-label" for="flexSwitchCheckChecked">Visa</label>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("cc_amex", Model.fboCreditCards != null ? (Model.fboCreditCards.amex==1 ?true:false) : false, new { @class="form-check-input" })
                                        <label class="form-check-label" for="flexSwitchCheckChecked">American Express</label>
                                    </div>
                                </div>
                                <div class="col-12 col-md-3">
                                    <div class="form-check form-switch">
                                        @Html.CheckBox("cc_discover", Model.fboCreditCards != null ? (Model.fboCreditCards.discover==1 ?true:false) : false, new { @class="form-check-input" })
                                        <label class="form-check-label" for="flexSwitchCheckChecked">Discover</label>
                                    </div>
                                </div>
                            </div>
                            @if (Model.FBO.FBO.FBOLevel != "Basic" || Model.FBO.FBO.FBOLevel != "Silver" )
                            {
                                <div style="height: 20px;border-bottom: 1px solid black;text-align: center;margin-bottom: 30px;">
                                    <span style="background-color: white;padding: -27px;padding-left: 10px;padding-right: 10px;top: -10px;position: relative;" class="display-6">
                                        FBO Photos
                                    </span>
                                </div>
                                <div class="row p-3">
                                    <span class="alert alert-info" style="font-size: 20px">
                                        <a href="/fbo/servicephoto/index?companyid=@Model.FBO.FBO.CompanyID">Click here</a> to view and manage your FBO Photos
                                    </span>
                                </div>
                                <div style="height: 20px;border-bottom: 1px solid black;text-align: center;margin-bottom: 30px;">
                                    <span style="background-color: white;padding: -27px;padding-left: 10px;padding-right: 10px;top: -10px;position: relative;" class="display-6">
                                        FBO Logo
                                    </span>
                                </div>
                                <div class="row p-3 mb-3">
                                    <div class="col-12 col-md-4 text-center mb-2">
                                        <img id="output" src='@( Model.FBO.FBO !=null  ?  (!String.IsNullOrEmpty(Model.FBO.FBO.logo) ? ("https://resources.globalair.com/airport/images/complogo/" + Model.FBO.FBO.logo) : "https://resources.globalair.com/images/no-image.png?w=150&h=150&mode=crop")  :  "https://resources.globalair.com/images/no-image.png?w=150&h=150&mode=crop"     )' style="max-width: inherit;">
                                        <br><br>
                                        @if (!String.IsNullOrEmpty(Model.FBO.FBO.logo))
                                        {
                                            <button id="deletebtn" type="submit" value="DeleteFboLogo" class="btn btn-danger rounded" formaction="@Url.Action("DeleteFboLogo","FBOHelper")" formmethod="post">Delete</button>
                                        }
                                    </div>
                                    <div class="col-12 col-md-8">
                                        <p>
                                            To change your FBO's logo, click the Browse button,
                                            select a new file (in .jpg or .jpeg format), then click the Upload
                                            button.
                                        </p>
                                        <p>
                                            The maximum width for your logo is 175 pixels. If you upload
                                            an image larger than 175 pixels wide, it will be re-sized automatically.
                                        </p>
                                        <div class="input-group mb-3">
                                            <input type="file" class="form-control" accept="image/jpeg, image/jpg" name="logo" id="file" onchange="loadFile(event)">
                                        </div>
                                    </div>
                                </div>
                                <div style="height: 20px;border-bottom: 1px solid black;text-align: center;margin-bottom: 30px;">
                                    <span style="background-color: white;padding: -27px;padding-left: 10px;padding-right: 10px;top: -10px;position: relative;" class="display-6">
                                        FBO Manager's Photo
                                    </span>
                                </div>
                                <div class="row p-3">
                                    <div class="col-12 col-md-4 text-center mb-2">
                                        <img id="output1" src='@(Model.singleFBO !=null  ?  (!String.IsNullOrEmpty(Model.singleFBO.ManagerPhoto) ? ("https://resources.globalair.com/airport/images/managerphotos/" + Model.singleFBO.ManagerPhoto) : "https://resources.globalair.com/images/no-image.png?w=150&h=150&mode=crop"):  "https://resources.globalair.com/images/no-image.png?w=150&h=150&mode=crop"     )' style="max-width: inherit;">
                                        <br><br>
                                        @if (Model.singleFBO != null && !String.IsNullOrEmpty(Model.singleFBO.ManagerPhoto))
                                        {
                                            <button id="deletebtn2" type="submit" value="DeleteManagerPic" class="btn btn-danger rounded" formaction="@Url.Action("DeleteManagerPic","FBOHelper")" formmethod="post">Delete</button>
                                        }
                                        @*<a href="#" class="btn btn-danger rounded">Delete Logo</a>*@
                                    </div>
                                    <div class="col-12 col-md-8">
                                        <p>
                                            To add your FBO's manager's photo, click the Browse button,
                                            select the file (in .jpg or .jpeg format), then click the Upload
                                            button.
                                        </p>
                                        <p>
                                            The maximum width for your FBO manager's photo is 100 pixels. If you upload
                                            an image larger than 100 pixels wide, it will be re-sized automatically.
                                        </p>
                                        <div class="input-group mb-3">

                                            <input type="file" class="form-control" id="managerpic" accept="image/jpeg, image/jpg" name="managerpic" onchange="loadManagerImg(event)">
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="mb-3 col-12 text-center">
                                <button value="FboInformationUpdate" type="submit" class="btn btn-primary" formaction="@Url.Action("FboInformationUpdate","FBOHelper")" formmethod="post">Submit</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        var loadFile = function (event) {
         
            var image = document.getElementById('output');
            image.src = URL.createObjectURL(event.target.files[0]);
        };
        var loadManagerImg = function (event) {
       
            var image = document.getElementById('output1');
            image.src = URL.createObjectURL(event.target.files[0]);
        };

        $(document).ready(() => {
            $("#stateid option[value=@Model.FBO.FBO.LocId]").attr('selected', 'selected');
        });
    </script>
}