@model FBO.ViewModels.ResponseDataViewModel
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
<link href="~/css/pagesStyle.css" rel="stylesheet" media="all" />

<style>
    .inputCheckbox input:checked:after {
        font-weight: 900;
        content: "\f058";
        color: #478bfb;
    }
    .container2 img {
        width: 80%;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        cursor: pointer;
    }
    @@media screen and (min-width: 950px) {
        .wrapper2 {
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }

        .container2 {
            height: 250px;
            width: 90%;
        }

        input[type="checkbox"]:after {
            font-size: 22px;
        }
    }
    .section-title {
        position: relative;
        text-transform: uppercase;
        margin-bottom: 1.875rem;
    }
        .section-title::before {
            position: absolute;
            left: 0;
            bottom: -8px;
            content: "";
            height: 2px;
            width: 5rem;
            background-color: #97cb00;
        }
    .container2:hover {
        transform: scale(1.05);
        box-shadow: 10px 10px 10px #888888;
    }
</style>
@section Breadcrumb {
    <nav aria-label="breadcrumb">
        <ol itemscope="" itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
            <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="breadcrumb-item"><a itemprop="item" href="/fbo/companymanage.aspx?companyid=@Model.FBO.FBO.CompanyID"><span itemprop="name">FBO Management</span><meta itemprop="position" content="1"></a></li>
            <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="breadcrumb-item active text-capitalize" aria-current="page"><a style="pointer-events: none; cursor: default; color: #6c757d;text-decoration:none" href="#" itemprop="item"><span itemprop="name">Update Your Fuel Cards</span><meta itemprop="position" content="3"></a></li>
        </ol>
    </nav>
}
<div class="row ms-2 mt-4">
    <div class="row">
        <div class="col-12">
            <h1 property="name">@Model.FBO.companyName (@Model.FBO.FBO.APTCode)</h1>
        </div>

    </div>
    <hr>
    <div class="row">
        <partial name="_SubMenuItems" model="@Model.FBO" />
        <div class="col-md-9 col-12">
            @if (TempData["success"] != null && TempData["success"].ToString() == "true")
            {
                <div id="s"class="row ms-1">
                    <div class="col">
                        <p class="alert alert-success">Your changes have been saved successfully.</p>
                    </div>
                </div>
            }
            else if (TempData["success"] != null && TempData["success"].ToString() == "false")
            {
                <div id="f" class="row ms-1">
                    <div class="col">
                        <p class="alert alert-danger">Oops, your changes have not been saved successfully, please try again later.</p>
                    </div>
                </div>
            }
            <div class="row ms-1">
                <div class="card float-right">
                    <div class="row mt-4">
                        @using (Html.BeginForm("FuelCardUpdate", "FBOHelper", FormMethod.Post))
                        {
                            <h2 class="section-title display-6">
                                Update Your Fuel Cards
                            </h2>
                            <p>
                                SELECT WHICH FUEL CARDS FROM THE LIST BELOW THAT YOUR FBO ACCEPTS. WHEN YOU ARE DONE, CLICK THE SAVE CHANGES BUTTON.
                            </p>
                            <div class="container p-4 mt-4">
                                <div class="row wrapper2">
                                    <div class="container2">
                                        <input type="hidden" name="companyID" value="@Model.FBO.FBO.CompanyID">

                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkFuelCard65", Model.fuelcards.chkFuelCard65)
                                        </span>

                                        <label for="chkFuelCard65">
                                            <img src="https://resources.globalair.com/fbo-images/fbo-fuel-cards/AEGfUEL.png?w=250&h=200&mode=crop" title="AEG FUEL" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkFuelCard57", Model.fuelcards.chkFuelCard57)
                                        </span>

                                        <label for="chkFuelCard57">
                                            <img src="https://resources.globalair.com/fbo-images/fbo-fuel-cards/avfuel.png?w=250&h=200&mode=crop" title="AVFUEL PRO" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkFuelCard12", Model.fuelcards.chkFuelCard12)
                                        </span>
                                        <label for="chkFuelCard12">
                                            <img src="https://resources.globalair.com/fbo-images/fbo-fuel-cards/avtripcard.png?w=250&h=200&mode=crop" title="AVTRIP" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkFuelCard64", Model.fuelcards.chkFuelCard64)
                                        </span>
                                        <label for="chkFuelCard64">
                                            <img src="https://resources.globalair.com/fbo-images/fbo-fuel-cards/epic.png?w=250&h=200&mode=crop" title="Epic - FuelCard" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkFuelCard68", Model.fuelcards.chkFuelCard68)
                                        </span>
                                        <label for="chkFuelCard68">
                                            <img src="https://resources.globalair.com/fbo-images/fbo-fuel-cards/epic-signature-card.png?w=250&h=200&mode=crop" title="Epic Signature Select" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkFuelCard44", Model.fuelcards.chkFuelCard44)
                                        </span>
                                        <label for="chkFuelCard44">
                                            <img src="https://resources.globalair.com/fbo-images/fbo-fuel-cards/multiservice.png?w=250&h=200&mode=crop" title="Multi Service Aviation" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkFuelCard71", Model.fuelcards.chkFuelCard71)
                                        </span>
                                        <label for="chkFuelCard71">
                                            <img src="https://resources.globalair.com/fbo-images/fbo-fuel-cards/phillips66.png?w=250&h=200&mode=crop" title="Phillips 66" %" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkFuelCard70", Model.fuelcards.chkFuelCard70)
                                        </span>
                                        <label for="chkFuelCard70">
                                            <img src="https://resources.globalair.com/fbo-images/fbo-fuel-cards/phillips-66-wingpoints.png?w=250&h=200&mode=crop" title="Phillips 66 - Wing Points" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkFuelCard62", Model.fuelcards.chkFuelCard62)
                                        </span>
                                        <label for="chkFuelCard62">
                                            <img src="https://resources.globalair.com/fbo-images/fbo-fuel-cards/Titan%202.png?w=250&h=200&mode=crop" title="Titan Plus" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkFuelCard61", Model.fuelcards.chkFuelCard61)
                                        </span>
                                        <label for="chkFuelCard61">
                                            <img src="https://resources.globalair.com/fbo-images/fbo-fuel-cards/Titan%201.png?w=250&h=200&mode=crop" title="Titan" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkFuelCard63", Model.fuelcards.chkFuelCard63)
                                        </span>
                                        <label for="chkFuelCard63">
                                            <img src="https://resources.globalair.com/fbo-images/fbo-fuel-cards/usgovt-aircard.png?w=250&h=200&mode=crop" title="US Government Air Card" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkFuelCard66", Model.fuelcards.chkFuelCard66)
                                        </span>
                                        <label for="chkFuelCard66">
                                            <img src="https://resources.globalair.com/fbo-images/fbo-fuel-cards/worldfuel-avcard.png?w=250&h=200&mode=crop" title="World Fuel AVCARD" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkFuelCard69", Model.fuelcards.chkFuelCard69)
                                        </span>
                                        <label for="chkFuelCard69">
                                            <img src="https://resources.globalair.com/fbo-images/fbo-fuel-cards/worldfuel-uvair-fuel.png?w=250&h=200&mode=crop" title="World Fuel UVA" />
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 col-12 text-center">
                                <button type="submit" class="btn btn-lg btn-primary">Save Changes</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>




        if ($('#s').show())
            setTimeout(function () {
                $('#s').hide();
            }, 4000);


        else if ($('#f').show()) {


            setTimeout(function () {
                $('#f').hide();
            }, 4000);
        }
    </script>
    }