@model FBO.ViewModels.ResponseDataViewModel
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
<link href="~/css/pagesStyle.css" rel="stylesheet" media="all" />
<style>
    .inputCheckbox input {
        -webkit-appearance: none;
        position: relative;
        width: 100%;
        cursor: pointer;
        border: none
    }

        .inputCheckbox input:after {
            position: absolute;
            font-family: "Font Awesome 5 Free";
            font-weight: 400;
            content: "\f111";
            font-size: 18px;
            color: #478bfb;
            right: 10px;
            top: -5px;
        }

        .inputCheckbox input:checked:after {
            font-weight: 900;
            content: "\f058";
            color: #478bfb;
        }

    .container2 img {
        width: 50%;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        cursor: pointer;
    }

    @@media screen and (min-width: 950px) {
        .wrapper2 {
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
        }

        .container2 {
            height: 160px;
            width: 90%;
        }

        input[type="checkbox"]:after {
            font-size: 22px;
        }
    }

    .container2:hover {
        transform: scale(1.05);
        box-shadow: 10px 10px 10px #888888;
    }
</style>
@section Breadcrumb {
    <nav aria-label="breadcrumb">
        <ol itemscope="" itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
            <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="breadcrumb-item"><a itemprop="item" href="/fbo/companymanage.aspx?companyid=@Model.FBO.FBO.CompanyID"><span itemprop="name">FBO Management</span><meta itemprop="position" content="1"></a></li>
            <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="breadcrumb-item active text-capitalize" aria-current="page"><a style="pointer-events: none; cursor: default; color: #6c757d;text-decoration:none" href="#" itemprop="item"><span itemprop="name">Update Your Fuel Prices</span><meta itemprop="position" content="3"></a></li>
        </ol>
    </nav>
}
<div class="row ms-2 mt-4">
    <div class="row">
        <div class="col-12">
            <h1 property="name">@Model.FBO.companyName (@Model.FBO.FBO.APTCode)</h1>
        </div>

    </div>
    <hr>
    <div class="row">
        <partial name="_SubMenuItems" model="@Model.FBO" />
        <div class="col-md-9 col-12">
            @if (TempData["success"] != null && TempData["success"].ToString() == "true")
            {
                <div id="s"class="row ms-1">
                    <div class="col">
                        <p class="alert alert-success">Your changes have been saved successfully.</p>
                    </div>
                </div>
            }
            else if (TempData["success"] != null && TempData["success"].ToString() == "false")
            {
                <div id="f" class="row ms-1">
                    <div class="col">
                        <p class="alert alert-danger">Oops, your changes have not been saved successfully, please try again later.</p>
                    </div>
                </div>
            }
            <div class="row ms-1">
                <div class="card float-right">
                    <div class="row mt-4">
                        @using (Html.BeginForm("FuelPriceUpdate", "FBOHelper", FormMethod.Post))
                        {
                            <div style="height: 20px;border-bottom: 1px solid black;text-align: center;margin-bottom: 30px;">
                                <span style="background-color: white;padding: -27px;padding-left: 10px;padding-right: 10px;top: -10px;position: relative;" class="display-6">
                                    Update your fuel prices
                                </span>
                            </div>
                            <div class="row mt-5 pb-2">
                                <div class="col"></div>
                                <div class="col"><b>Full-Serve</b></div>
                                <div class="col"><b>Self-Serve</b></div>
                            </div>
                            <div class="row pb-2">
                                <div class="col-4 text-right"><b>JETA:</b></div>
                                <div class="col-4 currency">
                                    <input type="hidden" name="companyID" value="@Model.FBO.FBO.CompanyID">
                                    <input name="Content_tbJETTA" type="number" step="0.01" min="0" max="100" id="Content_tbJETTA" class="form-control" value="@Math.Round(Convert.ToDecimal(Model.FBO.FBO.FuelJETA), 2)" />
                                </div>
                                <div class="col-4 currency">
                                    <input name="Content_tbSSJETTA" type="number" step="0.01" min="0" max="100" id="Content_tbSSJETTA" class="form-control" value="@Math.Round(Convert.ToDecimal(Model.FBO.FBO.FuelSSJETA), 2)" />
                                </div>
                            </div>
                            <div class="row pb-2">
                                <div class="col-4 text-right"><b>JETA w/Additive:</b></div>
                                <div class="col-4 currency">
                                    <input name="Content_tbJETAPRIST" type="number" step="0.01" min="0" max="100" id="Content_tbJETAPRIST" class="form-control" value="@Math.Round(Convert.ToDecimal(Model.FBO.FBO.FuelJETAPRIST),2)" />
                                </div>
                                <div class="col-4 currency">
                                    <input name="Content_tbSSJETAPRIST" type="number" step="0.01" min="0" max="100" id="Content_tbSSJETAPRIST" class="form-control" value="@Math.Round(Convert.ToDecimal(Model.FBO.FBO.FuelSSJETAPRIST),2)" />
                                </div>
                            </div>
                            <div class="row pb-2">
                                <div class="col-4 text-right"><b>UL94:</b></div>
                                <div class="col-4 currency">
                                    <input name="Content_tbUL94" type="number" step="0.01" min="0" max="100" id="Content_tbUL94" class="form-control" value="@Math.Round(Convert.ToDecimal(Model.FBO.FBO.FuelUL94),2)" />
                                </div>
                                <div class="col-4 currency">
                                    <input name="Content_tbSSUL94" type="number" step="0.01" min="0" max="100" id="Content_tbSSUL94" class="form-control" value="@Math.Round(Convert.ToDecimal(Model.FBO.FBO.FuelSSUL94),2)" />
                                </div>
                            </div>
                            <div class="row pb-2">
                                <div class="col-4 text-right"><b>MOGAS:</b></div>
                                <div class="col-4 currency">
                                    <input name="Content_tbMOGAS" type="number" step="0.01" min="0" max="100" id="Content_tbMOGAS" class="form-control" value="@Math.Round(Convert.ToDecimal(Model.FBO.FBO.FuelMOGAS),2)" />
                                </div>
                                <div class="col-4 currency">
                                    <input name="Content_tbSSMOGAS" type="number" step="0.01" min="0" max="100" id="Content_tbSSMOGAS" class="form-control" value="@Math.Round(Convert.ToDecimal(Model.FBO.FBO.FuelSSMOGAS),2)" />
                                </div>
                            </div>
                            <div class="row pb-2">
                                <div class="col-4 text-right"><b>100LL:</b></div>
                                <div class="col-4 currency">
                                    <input name="Content_tb100LL" type="number" step="0.01" min="0" max="100" id="Content_tb100LL" class="form-control" value="@Math.Round(Convert.ToDecimal(Model.FBO.FBO.Fuel100LL),2)" />
                                </div>
                                <div class="col-4 currency">
                                    <input name="Content_tbSS100LL" type="number" step="0.01" min="0" max="100" id="Content_tbSS100LL" class="form-control" value="@Math.Round(Convert.ToDecimal(Model.FBO.FBO.FuelSS100LL),2)" />
                                </div>
                            </div>
                            <div class="row pb-2">
                                <div class="col-4 text-right"><b>SAF:</b></div>
                                <div class="col-4 currency">
                                    <input name="Content_tbSAF" type="number" step="0.01" min="0" max="100" id="Content_tbSAF" class="form-control" value="@Math.Round(Convert.ToDecimal(Model.FBO.FBO.FuelSAF),2)" />
                                </div>
                                <div class="col-4 currency">
                                    <input name="Content_tbSSSAF" type="number" step="0.01" min="0" max="100" id="Content_tbSSSAF" class="form-control" value="@Math.Round(Convert.ToDecimal(Model.FBO.FBO.FuelSSSAF),2)" />
                                </div>
                            </div>
                            <div class="row pb-2">
                                <div class="col-4 text-right"><b>SAF w/Additive:</b></div>
                                <div class="col-4 currency">
                                    <input name="Content_tbSAFPRIST" type="number" step="0.01" min="0" max="100" id="Content_tbSAFPRIST" class="form-control" value="@Math.Round(Convert.ToDecimal(Model.FBO.FBO.FuelSAFPRIST),2)" />
                                </div>
                                <div class="col-4 currency">
                                    <input name="Content_tbSSSAFPRIST" type="number" step="0.01" min="0" max="100" id="Content_tbSSSAFPRIST" class="form-control" value="@Math.Round(Convert.ToDecimal(Model.FBO.FBO.FuelSSSAFPRIST),2)" />
                                </div>
                            </div>
                            <div class="container card p-4 mt-4">
                                <div class="row wrapper2">
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.RadioButton("logoSelected","8", Model.FBO.FBO.FuelBrandID == 8 ? true : false, new { @id="eight" }  )
                                        </span>
                                        <label for="eight">
                                            <img src="https://www.globalair.com/airport/images/ascent.png" title="Ascent" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.RadioButton("logoSelected","9", Model.FBO.FBO.FuelBrandID == 9 ? true : false, new { @id="nine" } )
                                        </span>
                                        <label for="nine">
                                            <img src="https://www.globalair.com/airport/images/epic.png" title="Epic" style="width: 80%;" />
                                        </label>
                                    </div>
                                    <div class="container2">

                                        <span class="inputCheckbox">
                                            @Html.RadioButton("logoSelected","4", Model.FBO.FBO.FuelBrandID == 4 ? true : false, new { @id="four" }  )
                                        </span>
                                        <label for="four">
                                            <img src="https://www.globalair.com/airport/images/phillips66.png" title="Phillips66" style="width: 80%;" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.RadioButton("logoSelected","6", Model.FBO.FBO.FuelBrandID ==6 ? true : false, new { @id="six" }  )
                                        </span>

                                        <label for="six">
                                            <img src="https://www.globalair.com/airport/images/avfuel.jpg" title="Avfuel" style="width: 40%" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.RadioButton("logoSelected","7", Model.FBO.FBO.FuelBrandID ==7 ? true : false, new { @id="seven" }  )
                                        </span>

                                        <label for="seven">
                                            <img src="https://www.globalair.com/airport/images/titan.jpg" title="Titan" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.RadioButton("logoSelected","10", Model.FBO.FBO.FuelBrandID ==10 ? true : false, new { @id="ten" }  )
                                        </span>

                                        <label for="ten">
                                            <img src="https://www.globalair.com/airport/images/independent2.gif" title="Independent2" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.RadioButton("logoSelected","12", Model.FBO.FBO.FuelBrandID ==12 ? true : false, new { @id="twelve" }  )
                                        </span>

                                        <label for="twelve">
                                            <img src="https://www.globalair.com/airport/images/AEGFuels.png" title="AEGFuels" style="width: 80%;" />
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 col-12 text-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>




        if ($('#s').show())
            setTimeout(function () {
                $('#s').hide();
            }, 4000);


        else if ($('#f').show()) {


            setTimeout(function () {
                $('#f').hide();
            }, 4000);
        }
    </script>
    }

