@model FBO.ViewModels.ResponseDataViewModel
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
<link href="~/css/pagesStyle.css" rel="stylesheet" media="all" />
<style>


    .inputCheckbox input {
        -webkit-appearance: none;
        position: relative;
        width: 100%;
        cursor: pointer;
        border: none
    }

        .inputCheckbox input:after {
            position: absolute;
            font-family: "Font Awesome 5 Free";
            font-weight: 400;
            content: "\f111";
            font-size: 18px;
            color: #478bfb;
            right: 10px;
            top: -5px;
        }

        .inputCheckbox input:checked:after {
            font-weight: 900;
            content: "\f058";
            color: #478bfb;
        }

    .container2 img {
        width: 80%;
        position: absolute;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        cursor: pointer;
    }

    @@media screen and (min-width: 950px) {
        .wrapper2 {
            grid-template-columns: repeat(4, 1fr);
            gap: 10px;
        }

        .container2 {
            height: 160px;
            width: 90%;
        }

        input[type="checkbox"]:after {
            font-size: 22px;
        }
    }

    .section-title {
        position: relative;
        text-transform: uppercase;
        margin-bottom: 1.875rem;
    }

        .section-title::before {
            position: absolute;
            left: 0;
            bottom: -8px;
            content: "";
            height: 2px;
            width: 5rem;
            background-color: #97cb00;
        }

    .container2:hover {
        transform: scale(1.05);
        box-shadow: 10px 10px 10px #888888;
    }

</style>
<div class="row ms-2 mt-4">
    <div class="row">
        <div class="col-md-9">
            <nav aria-label="breadcrumb">
                <ol itemscope="" itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
                    <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="breadcrumb-item"><a itemprop="item" href="/fbo/companymanage.aspx?companyid=@Model.FBO.FBO.CompanyID"><span itemprop="name">FBO Management</span><meta itemprop="position" content="1"></a></li>
                    <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="breadcrumb-item active text-capitalize" aria-current="page"><a style="pointer-events: none; cursor: default; color: #6c757d;text-decoration:none" href="#" itemprop="item"><span itemprop="name">Update Your Logo Services</span><meta itemprop="position" content="3"></a></li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1 property="name">@Model.FBO.companyName (@Model.FBO.FBO.APTCode)</h1>
        </div>

    </div>
    <hr>
    <div class="row">
        <partial name="_SubMenuItems" model="@Model.FBO" />
        <div class="col-md-9 col-12">
            @if (TempData["success"] != null && TempData["success"].ToString() == "true")
            {
                <div id="s" class="row ms-1">
                    <div class="col">
                        <p class="alert alert-success">Your changes have been saved successfully.</p>
                    </div>
                </div>
            }
            else if (TempData["success"] != null && TempData["success"].ToString() == "false")
            {
                <div id="f" class="row ms-1">
                    <div class="col">
                        <p class="alert alert-danger">Oops, your changes have not been saved successfully, please try again later.</p>
                    </div>
                </div>
            }
            <div class="row ms-1">
                <div class="card float-right">
                    <div class="row mt-4">
                        @using (Html.BeginForm("LogoServiceUpdate", "FBOHelper", FormMethod.Post, new { name = "logoser", id = "logoser" }))
                        {
                            <h2 class="section-title display-6">
                                Logo Services
                            </h2>
                            <h3>
                                You are currently allowed
                                <span id="NumLogoServices" class="limit"></span>
                                logo services.
                            </h3>
                            <p>
                                If you would like to purchase additional logo services, please call us at <a class="text-decoration-none" href="tel:888-236-4309">888-236-4309</a> or email at <a class="text-decoration-none" href="mailto:fbo@globalair.com">fbo@globalair.com</a>.
                            </p>
                            <div style="height: 20px;border-bottom: 1px solid black;text-align: center;margin-bottom: 30px;">
                                <span style="background-color: white;padding: -27px;padding-left: 10px;padding-right: 10px;top: -10px;position: relative;" class="display-6">
                                    FAA Services
                                </span>
                            </div>
                            <div class="container p-4 mt-4">
                                <div class="row wrapper2">
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            <input type="hidden" name="companyID" value="@Model.FBO.FBO.CompanyID">
                                            @Html.CheckBox("chkLogoService01", Model.fbologoser.chkLogoService01)

                                        </span>
                                        <label for="chkLogoService01">
                                            <img src="https://www.globalair.com/fbo/images/serv1.gif" title="NATA Safety 1st" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService02", Model.fbologoser.chkLogoService02)

                                        </span>
                                        <label for="chkLogoService02">
                                            <img src="https://www.globalair.com/fbo/images/serv2.gif" title="U.S. Government Fuel" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService03", Model.fbologoser.chkLogoService03)
                                        </span>
                                        <label for="chkLogoService03">
                                            <img src="https://www.globalair.com/fbo/images/serv3.gif" title="U.S. Customs Service" style="width: 60%" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService63", Model.fbologoser.chkLogoService63)

                                        </span>
                                        <label for="chkLogoService63">
                                            <img src="https://www.globalair.com/fbo/images/serv63.gif" title="U.S. Air Card" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService35", Model.fbologoser.chkLogoService35)

                                        </span>
                                        <label for="chkLogoService35">
                                            <img src="https://www.globalair.com/fbo/images/serv35.gif" title="CATS Testing Center" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService36", Model.fbologoser.chkLogoService36)

                                        </span>
                                        <label for="chkLogoService36">
                                            <img src="https://www.globalair.com/fbo/images/serv36.gif" title="FAA Authorized Chart Agent" style="width: 55%" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService60", Model.fbologoser.chkLogoService60)

                                        </span>
                                        <label for="chkLogoService60">
                                            <img src="https://www.globalair.com/fbo/images/serv60.gif" title="International Standard for Business Aircraft Handling (IS-BAH)" style="width: 55%" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService79", Model.fbologoser.chkLogoService79)

                                        </span>
                                        <label for="chkLogoService79">
                                            <img src="https://www.globalair.com/fbo/images/serv79.gif" title="Safety 1st Clean" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService80", Model.fbologoser.chkLogoService80)
                                        </span>
                                        <label for="chkLogoService80">
                                            <img src="https://www.globalair.com/fbo/images/serv80.gif" title="Part141FAA Training" />
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div style="height: 20px;border-bottom: 1px solid black;text-align: center;margin-bottom: 30px;">
                                <span style="background-color: white;padding: -27px;padding-left: 10px;padding-right: 10px;top: -10px;position: relative;" class="display-6">
                                    Weather Services
                                </span>
                            </div>
                            <div class="container p-4 mt-4">
                                <div class="row wrapper2">
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService04", Model.fbologoser.chkLogoService04)

                                        </span>
                                        <label for="chkLogoService04">
                                            <img src="https://www.globalair.com/fbo/images/serv4.gif" title="Meteorlogix" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService05", Model.fbologoser.chkLogoService05)

                                        </span>
                                        <label for="chkLogoService05">
                                            <img src="https://www.globalair.com/fbo/images/serv5.gif" title="Weathertap" style="width: 50%" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService06", Model.fbologoser.chkLogoService06)

                                        </span>
                                        <label for="chkLogoService06">
                                            <img src="https://www.globalair.com/fbo/images/serv6.gif" title="WSI Pilotbrief" style="width: 60%" />
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div style="height: 20px;border-bottom: 1px solid black;text-align: center;margin-bottom: 30px;">
                                <span style="background-color: white;padding: -27px;padding-left: 10px;padding-right: 10px;top: -10px;position: relative;" class="display-6">
                                    Car Rental Services
                                </span>
                            </div>
                            <div class="container p-4 mt-4">
                                <div class="row wrapper2">
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService13", Model.fbologoser.chkLogoService13)

                                        </span>
                                        <label for="chkLogoService13">
                                            <img src="https://www.globalair.com/fbo/images/serv13.gif" title="Advantage Rent A Car" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService14", Model.fbologoser.chkLogoService14)

                                        </span>
                                        <label for="chkLogoService14">
                                            <img src="https://www.globalair.com/fbo/images/serv14.gif" title="Alamo Rent A Car" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService15", Model.fbologoser.chkLogoService15)

                                        </span>
                                        <label for="chkLogoService15">
                                            <img src="https://www.globalair.com/fbo/images/serv15.gif" title="Avis" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService16", Model.fbologoser.chkLogoService16)

                                        </span>
                                        <label for="chkLogoService16">
                                            <img src="https://www.globalair.com/fbo/images/serv16.gif" title="Budget Rent A Car" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService17", Model.fbologoser.chkLogoService17)

                                        </span>
                                        <label for="chkLogoService17">
                                            <img src="https://www.globalair.com/fbo/images/serv17.gif" title="Dollar Rent A Car" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService18", Model.fbologoser.chkLogoService18)

                                        </span>
                                        <label for="chkLogoService18">
                                            <img src="https://www.globalair.com/fbo/images/serv18.gif" title="Enterprise Rent A Car" style="width: 50%" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService19", Model.fbologoser.chkLogoService19)

                                        </span>
                                        <label for="chkLogoService19">
                                            <img src="https://www.globalair.com/fbo/images/serv19.gif" title="Hertz" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService20", Model.fbologoser.chkLogoService20)

                                        </span>
                                        <label for="chkLogoService20">
                                            <img src="https://www.globalair.com/fbo/images/serv20.gif" title="National Car Rental" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService21", Model.fbologoser.chkLogoService21)

                                        </span>
                                        <label for="chkLogoService21">
                                            <img src="https://www.globalair.com/fbo/images/serv21.gif" title="Thrifty Car Rental" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService56", Model.fbologoser.chkLogoService56)

                                        </span>
                                        <label for="chkLogoService56">
                                            <img src="https://www.globalair.com/fbo/images/serv56.gif" title="Sixt Rent A Car" />
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div style="height: 20px;border-bottom: 1px solid black;text-align: center;margin-bottom: 30px;">
                                <span style="background-color: white;padding: -27px;padding-left: 10px;padding-right: 10px;top: -10px;position: relative;" class="display-6">
                                    Authorized Maintenance Facility Services
                                </span>
                            </div>
                            <div class="container p-4 mt-4">
                                <div class="row wrapper2">
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService22", Model.fbologoser.chkLogoService22)

                                        </span>
                                        <label for="chkLogoService22">
                                            <img src="https://www.globalair.com/fbo/images/serv22.gif" title="Beechcraft Sales / Service Center" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService47", Model.fbologoser.chkLogoService47)

                                        </span>
                                        <label for="chkLogoService47">
                                            <img src="https://www.globalair.com/fbo/images/serv47.gif" title="Embraer" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService72", Model.fbologoser.chkLogoService72)

                                        </span>
                                        <label for="chkLogoService72">
                                            <img src="https://www.globalair.com/fbo/images/serv72.gif" title="Bombardier Service" style="width:70%" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService26", Model.fbologoser.chkLogoService26)

                                        </span>
                                        <label for="chkLogoService26">
                                            <img src="https://www.globalair.com/fbo/images/serv26.gif" title="Diamond Aircraft" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService30", Model.fbologoser.chkLogoService30)
                                        </span>
                                        <label for="chkLogoService30">
                                            <img src="https://www.globalair.com/fbo/images/serv30.gif" title="New Piper Authorized Sales Center" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService73", Model.fbologoser.chkLogoService73)

                                        </span>
                                        <label for="chkLogoService73">
                                            <img src="https://www.globalair.com/fbo/images/serv73.gif" title="Dassault Service" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService31", Model.fbologoser.chkLogoService31)

                                        </span>
                                        <label for="chkLogoService31">
                                            <img src="https://www.globalair.com/fbo/images/serv31.gif" title="New Piper Service Center" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService32", Model.fbologoser.chkLogoService32)

                                        </span>
                                        <label for="chkLogoService32">
                                            <img src="https://www.globalair.com/fbo/images/serv32.gif" title="Pratt & Whitney Service Center" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService33", Model.fbologoser.chkLogoService33)
                                        </span>
                                        <label for="chkLogoService33">
                                            <img src="https://www.globalair.com/fbo/images/serv33.gif" title="Raytheon Authorized Service Center" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService45", Model.fbologoser.chkLogoService45)

                                        </span>
                                        <label for="chkLogoService45">
                                            <img src="https://www.globalair.com/fbo/images/serv45.gif" title="Cirrus Service Center" style="width:70%" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService37", Model.fbologoser.chkLogoService37)

                                        </span>
                                        <label for="chkLogoService37">
                                            <img src="https://www.globalair.com/fbo/images/serv37.gif" title="Jeppesen Authorized Dealer" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService46", Model.fbologoser.chkLogoService46)

                                        </span>
                                        <label for="chkLogoService46">
                                            <img src="https://www.globalair.com/fbo/images/serv46.gif" title="Honeywell" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService75", Model.fbologoser.chkLogoService75)

                                        </span>
                                        <label for="chkLogoService75">
                                            <img src="https://www.globalair.com/fbo/images/serv75.gif" title="Bell" style="width:70%" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService76", Model.fbologoser.chkLogoService76)
                                        </span>
                                        <label for="chkLogoService76">
                                            <img src="https://www.globalair.com/fbo/images/serv76.gif" title="Textron" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService77", Model.fbologoser.chkLogoService77)

                                        </span>
                                        <label for="chkLogoService77">
                                            <img src="https://www.globalair.com/fbo/images/serv77.gif" title="Robinson" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService78", Model.fbologoser.chkLogoService78)

                                        </span>
                                        <label for="chkLogoService78">
                                            <img src="https://www.globalair.com/fbo/images/serv78.gif" title="Part 145" style="width:70%" />
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div style="height: 20px;border-bottom: 1px solid black;text-align: center;margin-bottom: 30px;">
                                <span style="background-color: white;padding: -27px;padding-left: 10px;padding-right: 10px;top: -10px;position: relative;" class="display-6">
                                    Other Services
                                </span>
                            </div>
                            <div class="container p-4 mt-4">
                                <div class="wrapper2">
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService34", Model.fbologoser.chkLogoService34)

                                        </span>
                                        <label for="chkLogoService34">
                                            <img src="https://www.globalair.com/fbo/images/serv34.gif" title="Better Business Bureau" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService38", Model.fbologoser.chkLogoService38)

                                        </span>
                                        <label for="chkLogoService38">
                                            <img src="https://www.globalair.com/fbo/images/serv38.gif" title="LaserGrade Testing Center" style="width: 62%" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService39", Model.fbologoser.chkLogoService39)

                                        </span>
                                        <label for="chkLogoService39">
                                            <img src="https://www.globalair.com/fbo/images/serv39.gif" title="National Association of Flight Instructors" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService40", Model.fbologoser.chkLogoService40)

                                        </span>
                                        <label for="chkLogoService40">
                                            <img src="https://www.globalair.com/fbo/images/serv40.gif" title="National Business Aviation Association" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService42", Model.fbologoser.chkLogoService42)

                                        </span>
                                        <label for="chkLogoService42">
                                            <img src="https://www.globalair.com/fbo/images/serv42.gif" title="Wireless Internet Access" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService54", Model.fbologoser.chkLogoService54)

                                        </span>
                                        <label for="chkLogoService54">
                                            <img src="https://www.globalair.com/fbo/images/serv54.gif" title="CAA Preferred FBO" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService11", Model.fbologoser.chkLogoService11)

                                        </span>
                                        <label for="chkLogoService11">
                                            <img src="https://www.globalair.com/fbo/images/serv11.gif" title="Avnet Premier FBO" style="width: 60%" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService74", Model.fbologoser.chkLogoService74)

                                        </span>
                                        <label for="chkLogoService74">
                                            <img src="https://www.globalair.com/fbo/images/serv74.gif" title="Everest Fuel Service" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService83", Model.fbologoser.chkLogoService83)
                                        </span>
                                        <label for="chkLogoService83">
                                            <img src="https://www.globalair.com/fbo/images/serv83.gif" title="Go Rental" style="width: 62%" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService81", Model.fbologoser.chkLogoService81)
                                        </span>
                                        <label for="chkLogoService81">
                                            <img src="https://www.globalair.com/fbo/images/serv81.gif" title="World Fuel Services" />
                                        </label>
                                    </div>
                                    <div class="container2">
                                        <span class="inputCheckbox">
                                            @Html.CheckBox("chkLogoService82", Model.fbologoser.chkLogoService82)
                                        </span>
                                        <label for="chkLogoService82">
                                            <img src="https://www.globalair.com/fbo/images/serv82.gif" title="World Fuel Rewards" />
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3 col-12 text-center">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="row" style="justify-content: center">
                <div class="toast align-items-center fade warning" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-content">
                        <div class="content-body d-flex align-items-center">
                            <div class="icon me-4">
                            </div>
                            <div class="d-flex justify-content-between w-100">
                                <div>
                                    <h5 class="fw-bold mb-1">Warning:</h5>
                                    <p class="mb-0">You selected <span id="selectCount" class="text-danger fw-bold"><b></b></span> logo services. You are currently allowed to have up to <span class="limit"></span> logo services. Please select only <span class="limit"></span>.</p>
                                </div>
                                <div>
                                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        if ($('#s').show())
            setTimeout(function () {
                $('#s').hide();
            }, 4000);


        else if ($('#f').show()) {


            setTimeout(function () {
                $('#f').hide();
            }, 4000);
        }
        var max_limit = 10; // Max Limit
        $(document).ready(function () {
            var limit = 0;
        @if (Model.FBO.FBO.FBOLevel == "Platinum")
        {
            <text>
                    limit=10;
            </text>
        }
        else if (Model.FBO.FBO.FBOLevel == "Gold")
        {
            <text>
                    limit=6;
            </text>
        }
        else if (Model.FBO.FBO.FBOLevel == "Silver")
        {
            <text>
                    limit=1;
            </text>
        }
        else if (Model.FBO.FBO.FBOLevel == "Basic")
        {
            <text>
                    limit=0;
            </text>
        }
                $("#logoser").submit(function (e) {
                    if ($(":checkbox:checked").length > limit) {
                        e.preventDefault();
                        $('.toast').toast('show');
                        setTimeout(function () {
                            $('.toast').toast('hide');
                        }, 4000);
                    }
                });
            $('.limit').text(limit);
            $("#logoser").submit(function (e) {
                if ($(":checkbox:checked").length > limit) {
                    e.preventDefault();

                    $('#selectCount').text($(":checkbox:checked").length);

                    $('.toast').toast('show');
                    setTimeout(function () {
                        //$('.toast').toast('hide');
                    }, 4000);
                }
            });
        });


    </script>
}






