@model FBO.ViewModels.ResponseDataViewModel

<link href="~/css/pagesStyle.css" rel="stylesheet" media="all" />

	<style>
		#featuredPromo {
			border-radius: 10px;
		}

		#fuelPrices {
			border-radius: 10px;
			color: white;
			padding: 20px
		}

			#fuelPrices .nav {
				background-color: rgb(238, 238, 238);
				color: black;
				border-radius: 10px;
				display: flex;
				justify-content: center;
			}

				#fuelPrices .nav li {
					padding-bottom: 9px;
					padding-top: 9px;
					font-weight: 600;
				}

				#fuelPrices .nav .active {
					background-color: white;
					font-weight: 700;
					border-radius: 10px;
					padding: 8px;
					color: rgb(168, 211, 43)
				}

			#fuelPrices a {
				color: white
			}

			#fuelPrices .nav li a {
				color: gray;
			}

		.tab-content {
			padding-top: 30px
		}

			.tab-content table {
				color: white;
			}

				.tab-content table td {
					padding: 0rem;
					padding-bottom: 10px;
					padding-top: 10px;
					padding-left: 0.5rem;
				}

				.tab-content table .heading {
					font-size: 16px;
					font-weight: 500;
				}

		#region {
			background-color: white;
			border-radius: 10px;
			padding: 10px;
		}

			#region a {
				color: rgb(71, 130, 211);
			}

		.middleBox {
			background-color: rgb(245, 245, 245);
			padding: 10px;
			border-radius: 10px
		}

			.middleBox span {
				color: rgb(150, 150, 150)
			}

			.middleBox h4,
			p {
				color: rgb(100, 100, 100)
			}

		.card {
			background-color: #fff;
			border-radius: 10px;
			border: none;
			position: relative;
			margin-bottom: 30px;
			box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1), 0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1), 0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12), 0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
		}

		.l-bg-cherry {
			background: linear-gradient(to right, #000000, #0000009e) !important;
			color: #fff;
		}

		.l-bg-blue-dark {
			background: linear-gradient(to right, #373b44, #4286f4) !important;
			color: #fff;
		}

		.l-bg-green-dark {
			background: linear-gradient(to right, #97cb00, #97cb0085) !important;
			color: #fff;
		}

		.l-bg-orange-dark {
			background: linear-gradient(to right, #a86008, #ffba56) !important;
			color: #fff;
		}

		.card .card-statistic-3 .card-icon-large .fas,
		.card .card-statistic-3 .card-icon-large .far,
		.card .card-statistic-3 .card-icon-large .fab,
		.card .card-statistic-3 .card-icon-large .fal {
			font-size: 110px;
		}

		.card .card-statistic-3 .card-icon {
			text-align: center;
			line-height: 50px;
			margin-left: 15px;
			color: #000;
			position: absolute;
			right: 10px;
			top: 20px;
			opacity: 0.1;
		}

		.l-bg-cyan {
			background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
			color: #fff;
		}

		.l-bg-green {
			background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
			color: #fff;
		}

		.l-bg-orange {
			background: linear-gradient(to right, #f9900e, #ffba56) !important;
			color: #fff;
		}

		.l-bg-cyan {
			background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
			color: #fff;
		}

		#navbarsExample2 a {
			color: rgb(233, 233, 233);
			border-bottom: rgb(233, 233, 233) 2px solid;
		}

			#navbarsExample2 a:hover {
				color: #97cb00;
				border-bottom: #97cb00 2px solid;
			}

		label {
			font-weight: 600;
		}

		.section-title {
			position: relative;
			text-transform: uppercase;
			margin-bottom: 1.875rem;
		}

			.section-title::before {
				position: absolute;
				left: 0;
				bottom: -8px;
				content: "";
				height: 2px;
				width: 5rem;
				background-color: #97cb00;
			}

		.required:after {
			content: " *";
			color: red;
		}

	</style>
	<div class="row ms-2 mt-4">

		<div class="row">
			<div class="col-12">
				<h1 property="name">Castle & Cooke Aviation (VNY)</h1>
			</div>

		</div>
		<hr>
		<div class="row">
			<div class="col-md-3 col-12 bg-dark navbar-dark card" style="height: fit-content">
				<div class="navbar-expand-sm navbar-expand-md list-group list-group-flush mb-4">
					<span class="text-center mt-3" style="font-size: 1.1rem; color: white">
						<b>
							Add or Edit Services
						</b>
					</span>
					<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample2" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
					<div class="nav nav-pills navbar-right collapse navbar-collapse navbar-dark bg-dark" id="navbarsExample2">
						<a href="#" class="list-group-item list-group-item-action list-item-custom bg-dark p-3">
							Edit Account Information
						</a> <a href="#" class="list-group-item list-group-item-action list-item-custom bg-dark p-3">
							My Flight Department Services
						</a> <a href="fbo information.html" class="list-group-item list-group-item-action list-item-custom bg-dark p-3">
							FBO Information
						</a> <a href="#" class="list-group-item list-group-item-action list-item-custom bg-dark p-3">
							FBO Photos
						</a> <a href="fuel.html" class="list-group-item list-group-item-action list-item-custom bg-dark p-3">
							Update Fuel Prices
						</a> <a href="#" class="list-group-item list-group-item-action list-item-custom bg-dark p-3">
							Ratings and Reviews
						</a> <a href="extented.html" class="list-group-item list-group-item-action list-item-custom bg-dark p-3">
							Extended & Basic Services
						</a> <a href="fuelcards.html" class="list-group-item list-group-item-action list-item-custom bg-dark p-3">
							Fuel Cards
						</a> <a href="logo.html" class="list-group-item list-group-item-action list-item-custom bg-dark p-3">
							Logo Services
						</a> <a href="CustomService.html" class="list-group-item list-group-item-action list-item-custom bg-dark p-3">
							Custom Services
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-9 col-12">

				<div class="row ms-1">
					<div class="card float-right">
						<div class="row mt-4">
						@using (Html.BeginForm("FboUpgrade", "FBOHelper", FormMethod.Post, new { name = "logoser", id = "logoser", enctype = "multipart/form-data" }))
                        {
								<h2 class="section-title display-6">
									Upgrade Your FBO
								</h2>
								<div style="height: 20px;border-bottom: 1px solid black;text-align: center;margin-bottom: 30px;">
									<span style="background-color: white;padding: -27px;padding-left: 10px;padding-right: 10px;top: -10px;position: relative;" class="display-6">
										Credit Cards Information
									</span>
								</div>
								<div class="row mt-5 mb-5">
									<div class="mb-3 col-12" style="
												text-align-last: center;
												font-style: italic;

												font-style: italic;
												font-weight: bold;
												background: #97cb00;">
										<span>Please enter your credit card information below.</span>
									</div>
									<div class="mb-3 col-6">
										<label for="exampleInputEmail1" class="form-label required">
											Name on Card:
										</label>
									<input type="text" class="form-control" id="exampleInputEmail1" name="nameoncard" required>
									</div>
									<div class="mb-3 col-6">
										<label for="exampleInputEmail1" class="form-label required">Card Number:</label>
									<input type="text" class="form-control" id="exampleInputEmail1" name="cardnumber" required>

									</div>
									<div class="mb-3 col-6">
									<label  class="form-label required">Credit Card Expiration:</label>
									<br />
									<label for="cardexpmonth" class="form-label required">Month:</label>
									<input type="number" min="01" max="12" step="1" value="01" name="cardexpmonth" />
									<label for="cardexpyear" class="form-label required">Year:</label>
									<input type="number" min="1900" max="2099" step="1" value="2016" name="cardexpyear" />
									</div>
									<div class="mb-3 col-6">
										<label for="exampleInputEmail1" class="form-label required">Security Code / CVV:</label>
									<input type="text" class="form-control" id="exampleInputEmail1" name="cvv" required>
									</div>

								</div>
								<div style="height: 20px;border-bottom: 1px solid black;text-align: center;margin-bottom: 30px;">
									<span style="background-color: white;padding: -27px;padding-left: 10px;padding-right: 10px;top: -10px;position: relative;" class="display-6">
										Billing Information
									</span>
								</div>

								<div class="row mt-5 mb-5">
									<div class="mb-3 col-12" style="
													text-align-last: center;
													font-style: italic;

													font-style: italic;
													font-weight: bold;
													background: #97cb00;
												">
										<span>Please verify that the below information is the correct information for your billing address.</span>
									</div>

									       <div class="mb-3 col-6">
                                    <label for="Address1" class="form-label">Address</label>
                                    <input type="text" class="form-control" id="Address1" name="Address1" value="@Model.FBO.FBO.Address1">
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="Address2" class="form-label">Address 2</label>
                                    <input type="text" class="form-control" id="Address2" name="Address2" value="@Model.FBO.FBO.Address2">
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="City" class="form-label">City</label>
                                    <input type="text" class="form-control" id="City" name="City" value="@Model.FBO.FBO.City">
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="stateid" class="form-label">State</label>
                                    <select name="stateid" class="form-select" aria-label="Default select example" id='stateid'>
                                        @foreach (var item in Model.locations)
                                        {
                                            
                                            <option value="@item.Aircraft_LocationId" selected">@item.LocName</option>

                                        }
                                    </select>
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="Zipcode" class="form-label">Zip</label>
                                    <input type="text" class="form-control" id="Zipcode" name="Zipcode" value="@Model.FBO.FBO.Zip">
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="Phone" class="form-label">Telephone</label>
                                    <input type="text" class="form-control" id="Phone" name="Phone" value="@Model.FBO.FBO.Phone">
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="Fax" class="form-label">Fax</label>
                                    <input type="text" class="form-control" id="Fax" name="Fax" value="@Model.FBO.FBO.Fax">
                                </div>

									<div class="mb-3 col-6">
										<label for="exampleInputtext1" class="form-label required">Email</label>
										<input type="text" class="form-control" id="exampleInputtext1" value="@Model.FBO.FBO.Email" required>
									</div>

									<br>
									<div class="mb-3 col-12 text-center">
										<button type="submit" class="btn btn-success">Complete Upgrade</button>
									</div>
								</div>
								<div class="row mt-5 mb-5">
									<p>
										<br />
										GlobalAir.com Customer Service<br />
										Toll Free: 888-236-4309<img src="images/tl_transp.gif" alt="" width="113" height="59" style="float: right;" /><br />
										Local: 502-456-3934<br />
										Email: <a href="mailto:fbo@globalair.com">fbo@globalair.com</a>
									</p>

								</div>




							}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

