@model FBO.ViewModels.ResponseDataViewModel

<link href="~/css/pagesStyle.css" rel="stylesheet" media="all" />


<div class="row ms-2 mt-4">
    <div class="row">
        <div class="col-md-9">
            <nav aria-label="breadcrumb">
                <ol itemscope="" itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
                    <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="breadcrumb-item"><a itemprop="item" href="/fbo/companymanage.aspx?companyid=@Model.FBO.FBO.CompanyID"><span itemprop="name">FBO Management</span><meta itemprop="position" content="1"></a></li>
                    <li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem" class="breadcrumb-item active text-capitalize" aria-current="page"><a style="pointer-events: none; cursor: default; color: #6c757d;text-decoration:none" href="#" itemprop="item"><span itemprop="name">Update Your FBO</span><meta itemprop="position" content="3"></a></li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h1 property="name">@Model.FBO.companyName (@Model.FBO.FBO.APTCode)</h1>
        </div>

    </div>
    <hr>

    <div class="row">
        <partial name="_SubMenuItems" model="@Model.FBO" />
        <div class="col-md-9 col-12">
            <div class="row ms-1" id="success" style="display: none">
                <div class="col">
                    <p class="alert alert-success">
                        Congratulations! You have successfully upgraded your FBO.<br />
                        <a href="/fbo/companymanage.aspx?companyid=@Model.FBO.FBO.CompanyID">Click here to return to your FBO account</a>
                    </p>

                </div>
            </div>
            <div class="row ms-1" id="failedcvv" style="display: none">
                <div class="col">
                    <p class="alert alert-danger">Error: You must enter a valid credit card security code (CVV)</p>
                </div>
            </div>
            <div class="row ms-1" id="faileddate" style="display: none">
                <div class="col">
                    <p class="alert alert-danger">Error: invalid expiration date</p>
                </div>
            </div>
            <div class="row ms-1" id="failedcc" style="display: none">
                <div class="col">
                    <p class="alert alert-danger">Error processing Credit Card.please try again later</p>
                </div>
            </div>
            <div class="row ms-1" id="failed" style="display: none">
                <div class="col">
                    <p class="alert alert-danger">Oops, your changes have not been updated successfully, please try again later.</p>
                </div>
            </div>
            <div id="main" class="row ms-1">
                <div class="card float-right">
                    <div class="row mt-4">
                        @using (Html.BeginForm("FboUpgrade", "FBOHelper", FormMethod.Post, new { name = "logoser", id = "logoser", enctype = "multipart/form-data" }))
                        {
                            <h2 class="section-title display-6">
                                Upgrade Your FBO
                            </h2>
                            <div style="height: 20px;border-bottom: 1px solid black;text-align: center;margin-bottom: 30px;">
                                <span style="font-size: xx-large;background-color: white;padding: -27px;padding-left: 10px;padding-right: 10px;top: -10px;position: relative;" class="display-6">
                                    Credit Cards Information
                                </span>
                            </div>
                            <div class="row mt-5 mb-5">
                                <div class="mb-3 col-12" style="
												text-align-last: center;
												font-style: italic;

												font-style: italic;
												font-weight: bold;
												background: #97cb00;">
                                    <span>Please enter your credit card information below.</span>
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="nameOnCard" class="form-label required">
                                        Name on Card:
                                    </label>
                                    <input type="text" class="form-control" id="nameOnCard" name="nameoncard" required>
                                    <input type="hidden" name="companyID" value="@Model.FBO.FBO.CompanyID">
                                    <input type="hidden" name="upgradeto" value="@Model.level">

                                </div>
                                <div class="mb-3 col-6">
                                    <label for="cardnum" class="form-label required">Card Number:</label>
                                    <input type="text" class="form-control" id="cardnum" name="cardnumber" required>

                                </div>
                                <div class="mb-3 col-6">
                                    <label class="form-label required">Credit Card Expiration:</label>
                                    <br />
                                    <label for="cardexpmonth" class="form-label required">Month:</label>
                                    <input type="number" min="01" max="12" step="1" value="01" name="cardexpmonth" />
                                    <label for="cardexpyear" class="form-label required">Year:</label>
                                    <input type="number" min="1900" max="2099" step="1" value="2016" name="cardexpyear" />
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="cvv" class="form-label required">Security Code / CVV:</label>
                                    <input type="text" class="form-control" id="cvv" name="cvv" required>
                                </div>

                            </div>
                            <div style="height: 20px;border-bottom: 1px solid black;text-align: center;margin-bottom: 30px;">
                                <span style="font-size: xx-large;background-color: white;padding: -27px;padding-left: 10px;padding-right: 10px;top: -10px;position: relative;" class="display-6">
                                    Billing Information
                                </span>
                            </div>

                            <div class="row mt-5 mb-5">
                                <div class="mb-3 col-12" style="
													text-align-last: center;
													font-style: italic;

													font-style: italic;
													font-weight: bold;
													background: #97cb00;
												">
                                    <span>Please verify that the below information is the correct information for your billing address.</span>
                                </div>

                                <div class="mb-3 col-6">
                                    <label for="Address1" class="form-label">Address</label>
                                    <input type="text" class="form-control" id="Address1" name="Address1" value="@Model.FBO.FBO.Address1">
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="Address2" class="form-label">Address 2</label>
                                    <input type="text" class="form-control" id="Address2" name="Address2" value="@Model.FBO.FBO.Address2">
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="City" class="form-label">City</label>
                                    <input type="text" class="form-control" id="City" name="City" value="@Model.FBO.FBO.City">
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="stateid" class="form-label">State</label>
                                    <select name="stateid" class="form-select" aria-label="Default select example" id='stateid'>
                                        @foreach (var item in Model.locations)
                                        {

                                            <option value="@item.Aircraft_LocationId" selected">@item.LocName</option>

                                        }
                                    </select>
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="Zipcode" class="form-label">Zip</label>
                                    <input type="text" class="form-control" id="Zipcode" name="Zipcode" value="@Model.FBO.FBO.Zip">
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="Phone" class="form-label">Telephone</label>
                                    <input type="text" class="form-control" id="Phone" name="Phone" value="@Model.FBO.FBO.Phone">
                                </div>
                                <div class="mb-3 col-6">
                                    <label for="Fax" class="form-label">Fax</label>
                                    <input type="text" class="form-control" id="Fax" name="Fax" value="@Model.FBO.FBO.Fax">
                                </div>

                                <div class="mb-3 col-6">
                                    <label for="exampleInputtext1" class="form-label required">Email</label>
                                    <input type="text" class="form-control" id="exampleInputtext1" value="@Model.FBO.FBO.Email" required>
                                </div>

                                <br>
                                <div class="mb-3 col-12 text-center">
                                    <button type="submit" class="btn btn-success">Complete Upgrade</button>
                                </div>
                            </div>
                            <div class="row mt-5 mb-5">
                                <p>
                                    <br />
                                    GlobalAir.com Customer Service<br />
                                    Toll Free: <a class="text-decoration-none" href="tel:888-236-4309">888-236-4309</a><br />
                                    Local: <a class="text-decoration-none" href="tel:502-456-3934">502-456-3934</a><br />
                                    Email: <a class="text-decoration-none" href="mailto:fbo@globalair.com">fbo@globalair.com</a>
                                </p>

                            </div>




                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            $("#stateid option[value=@Model.FBO.FBO.LocId]").attr('selected', 'selected');
        });
        @if (TempData["failedcc"] != null && TempData["failedcc"].ToString() == "true")
        {
            <text>
            
                $('#failedcc').show();
            </text>
        }
        else if (TempData["faileddate"] != null && TempData["faileddate"].ToString() == "true")
        {
            <text>

                $('#faileddate').show();
            </text>
        }
        else if (TempData["failedcvv"] != null && TempData["failedcvv"].ToString() == "true")
        {
            <text>

                $('#failedcvv').show();
            </text>
        }
        else if (TempData["failed"] != null && TempData["failed"].ToString() == "true")
        {
            <text>

                $('#failed').show();
            </text>
        }
        else if (TempData["success"] != null && TempData["success"].ToString() == "true")
        {
            <text>

                $('#success').show();
            $('#main').hide();

            </text>
        }
    </script>
    }